<div class="raml-console-resource-panel-primary" ng-if="documentationEnabled">
  <!-- Request -->
  <header class="raml-console-resource-header">
    <h3 class="raml-console-resource-head">
      Request
    </h3>
  </header>
  <div id="request-documentation" class="raml-console-resource-panel-primary-row raml-console-resource-panel-content raml-console-is-active" ng-class="{'raml-console-is-active':showRequestDocumentation}">
    <h3 class="raml-console-resource-heading-a">Description</h3>

    <p markdown="methodInfo.description" class="raml-console-marked-content"></p>

    <section class="raml-console-resource-section" id="docs-uri-parameters" ng-if="resource.uriParametersForDocumentation">
      <h3 class="raml-console-resource-heading-a">URI Parameters</h3>
      <properties list="resource.uriParametersForDocumentation" show-examples="true"></properties>
    </section>

    <section class="raml-console-resource-section" id="docs-headers" ng-if="methodInfo.headers.plain">
      <h3 class="raml-console-resource-heading-a">Headers</h3>
      <properties list="methodInfo.headers.plain" show-examples="true"></properties>
    </section>

    <section class="raml-console-resource-section" id="docs-query-parameters" ng-if="methodInfo.queryParameters">
      <h3 class="raml-console-resource-heading-a">Query Parameters</h3>
      <properties list="methodInfo.queryParameters" show-examples="true"></properties>
    </section>

    <section class="raml-console-resource-section" id="docs-query-string" ng-if="methodInfo.queryString">
      <h3 class="raml-console-resource-heading-a">Query String</h3>
      <type-properties type="methodInfo.queryString"></type-properties>
    </section>

    <section class="raml-console-resource-section raml-console-documentation-schemes">
      <h3 class="raml-console-resource-heading-a">Security Schemes</h3>
      <ol class="raml-console-documentation-security-scheme">
        <li class="raml-console-documentation-scheme" ng-class="{'raml-console-is-active':isSchemeSelected(value)}" ng-click="selectDocumentationScheme(value)" ng-repeat="(key, value) in securitySchemes">{{value.name}}</li>
      </ol>

      <p ng-if="documentationSchemeSelected.description" markdown="documentationSchemeSelected.description" class="raml-console-marked-content"></p>

      <section class="raml-console-resource-section raml-console-scheme-headers" ng-if="documentationSchemeSelected.describedBy.headers">
        <h4 class="raml-console-resource-heading-a">Headers</h4>
        <properties list="documentationSchemeSelected.describedBy.headers" show-security-schema-properties="true" show-examples="true"></properties>
      </section>

      <section class="raml-console-resource-section raml-console-scheme-query-parameters" ng-if="documentationSchemeSelected.describedBy.queryParameters">
        <h4 class="raml-console-resource-heading-a">Query Parameters</h4>
        <properties list="documentationSchemeSelected.describedBy.queryParameters" show-security-schema-properties="true" show-examples="true"></properties>
      </section>

      <section class="raml-console-resource-section raml-console-scheme-responses" ng-if="documentationSchemeSelected.describedBy.responses">
        <h4 class="raml-console-resource-heading-a">Responses</h4>

        <div class="raml-console-resource-param" ng-repeat="(code, info) in documentationSchemeSelected.describedBy.responses">
          <h4 class="raml-console-resource-param-heading">{{info.code}}</h4>
          <p markdown="info.description" class="raml-console-marked-content"></p>

          <div class="raml-console-schema-body raml-console-resource-response" ng-if="info.body">
            <h4 class="raml-console-resource-body-heading">
              Body
              <span
                      ng-click="changeSchemaType($event, key, code)"
                      ng-class="{ 'raml-console-is-active': schemaResponses[info.code].currentType === key}"
                      class="raml-console-flag"
                      ng-repeat="(key, value) in info.body">
                {{key}}
            </span>
            </h4>

            <div ng-repeat="(key, value) in info.body">
              <div ng-if="schemaResponses[code].currentType === key">
                <examples
                  example-container="value"
                  get-beatified-example-ref="getBeatifiedExample">
                </examples>
              </div>
            </div>
          </div>

        </div>
      </section>

      <section class="raml-console-resource-section raml-console-scheme-settings" ng-if="documentationSchemeSelected.settings">
        <h4 class="raml-console-resource-heading-a">Settings</h4>

        <div class="raml-console-resource-param" ng-repeat="(key, config) in documentationSchemeSelected.settings">
          <h4 class="raml-console-resource-param-heading">{{key}}</h4>
          <p>{{schemaSettingsDocumentation(config)}}</p>
        </div>
      </section>
    </section>


    <section class="raml-console-resource-section" ng-if="methodInfo.body">
      <h3 class="raml-console-resource-heading-a">
        Body
      </h3>

      <h4 class="raml-console-request-body-heading">
        <span ng-click="changeResourceBodyType($event, key)" ng-class="{ 'raml-console-is-active' : bodySelected(key)}" class="raml-console-flag raml-console-body-{{getBodyId(key)}}" ng-repeat="(key, value) in methodInfo.body">{{key}}</span>
      </h4>

      <div ng-repeat="(key, value) in methodInfo.body">
        <div ng-if="key === currentBodySelected">
          <section ng-if="value.formParameters">
             <div class="raml-console-resource-param" ng-repeat="formParam in value.formParameters">
              <h4 class="raml-console-resource-param-heading">{{formParam[0].displayName}}<span class="raml-console-resource-param-instructional">{{parameterDocumentation(formParam[0])}}</span></h4>

              <p markdown="formParam[0].description" class="raml-console-marked-content"></p>

              <p ng-if="formParam[0].example !== undefined">
                <span class="raml-console-resource-param-example"><b>Example:</b> {{formParam[0].example}}</span>
              </p>
            </div>
          </section>

          <examples
            ng-if="value"
            example-container="value"
            get-beatified-example-ref="getBeatifiedExample">
          </examples>

          <raml-body
            ng-if="value"
            body="value"
            get-beatified-example-ref="getBeatifiedExample"
            show-examples="false">
          </raml-body>
        </div>
      </div>
    </section>
  </div>

  <!-- Response -->
  <div ng-if="fullResponseCodes">
    <header class="raml-console-resource-header">
      <h3 class="raml-console-resource-head">
        Response
      </h3>
    </header>

    <div class="raml-console-resource-response-jump">
      <ul class="raml-console-resource-menu">
        <li class="raml-console-resource-btns raml-console-resource-menu-item" ng-repeat="code in fullResponseCodes">
          <button ng-click="showCodeDetails(code)" class="raml-console-resource-btn raml-console-resource-menu-button raml-console-resource-menu-btn-{{getColorCode(code)}}" ng-class="{ 'raml-console-button-is-active': isActiveCode(code) }" href="#code{{code}}">{{code}}</button>
        </li>
      </ul>
    </div>

    <div class="raml-console-resource-panel-primary-row raml-console-resource-panel-content raml-console-is-active raml-console-response-container" ng-class="{'raml-console-is-active':showResponseDocumentation}">
      <section ng-if="isActiveCode(code)" class="raml-console-resource-section raml-console-resource-response-section" ng-repeat="code in fullResponseCodes">
        <a name="code{{code}}"></a>
        <h3 class="raml-console-resource-heading-a">Status {{code}}</h3>

        <div class="raml-console-resource-response">
          <p markdown="fullResponses[code].description" class="raml-console-marked-content"></p>
        </div>

        <div class="raml-console-resource-response" ng-if="fullResponses[code].headers">
          <h4 class="raml-console-resource-body-heading">Headers</h4>
          <properties class="response-headers" list="fullResponses[code].headers" show-examples="true"></properties>
        </div>

        <div class="raml-console-resource-response" ng-if="fullResponses[code].body">
          <h4 class="raml-console-resource-body-heading">
            Body
            <span
              ng-click="changeType($event, key, code)"
              ng-class="{ 'raml-console-is-active': responseInfo[code].currentType === key}"
              class="raml-console-flag"
              ng-repeat="(key, value) in fullResponses[code].body">
                {{key}}
            </span>
          </h4>

          <div ng-repeat="(key, value) in fullResponses[code].body">
            <div ng-if="responseInfo[code].currentType === key">
              <examples
                ng-if="responseInfo[code] && responseInfo[code].currentType"
                example-container="value"
                get-beatified-example-ref="getBeatifiedExample">
              </examples>

              <raml-body
                ng-if="responseInfo[code] && responseInfo[code].currentType"
                body="value"
                get-beatified-example-ref="getBeatifiedExample">
              </raml-body>
            </div>
          </div>
        </div>
      </section>

    </div>
  </div>
</div>
