<div class="raml-console-initializer-container raml-console-initializer-primary">
  <div ng-if="!vm.isLoading && !vm.raml && !vm.error">
    <h1 class="raml-console-title">RAML Console</h1>

    <div class="raml-console-initializer-content-wrapper">
      <section>
        <header class="raml-console-initializer-row raml-console-initializer-subheader">
          <h4 class="raml-console-initializer-subhead">Initialize from the URL of a RAML file</h4>
        </header>

        <div class="raml-console-initializer-row">
          <form novalidate ng-submit="vm.loadFromUrl(vm.ramlUrl)">
            <p class="raml-console-initializer-input-container">
              <input id="ramlPath" autofocus class="raml-console-initializer-input raml-console-initializer-raml-field" ng-model="vm.ramlUrl">
            </p>
            <div class="raml-console-initializer-action-group" align="right">
              <button id="loadRamlFromUrl" class="raml-console-initializer-action raml-console-initializer-action-btn" type="submit">Load from URL</button>
            </div>
          </form>
        </div>
      </section>

      <section>
        <header class="raml-console-initializer-row raml-console-initializer-subheader">
          <h4 class="raml-console-initializer-subhead">or parse RAML in here</h4>
        </header>

        <div class="raml-console-initializer-row">
          <p class="raml-console-initializer-input-container">
            <textarea id="raml" ui-codemirror="vm.codeMirror" ng-model="vm.ramlString"></textarea>
          </p>
          <div class="raml-console-initializer-action-group" align="right">
            <button id="loadRaml" class="raml-console-initializer-action raml-console-initializer-action-btn" ng-click="vm.loadFromString(vm.ramlString)">Load RAML</button>
          </div>
        </div>
      </section>
    </div>
  </div>

  <raml-console ng-if="vm.raml || vm.error" errors="vm.error.errors" raml="vm.raml"></raml-console>

  <raml-console-spinner ng-if="vm.isLoading"></raml-console-spinner>
</div>
