<div class="raml-console-error-container raml-console-error-primary">
  <raml-console-spinner ng-if="!vm.loaded"></raml-console-spinner>

  <raml-console ng-if="vm.raml" raml="vm.raml" options="vm.options"></raml-console>

  <div ng-if="vm.error">
    <div class="raml-console-initializer-container raml-console-initializer-primary">
      <h1 class="raml-console-title">RAML Console</h1>

      <section>
        <header class="raml-console-initializer-row raml-console-initializer-subheader">
          <h4 class="raml-console-initializer-subhead">Error while parsing</h4>
        </header>

        <div class="raml-console-initializer-row">
          <div class="raml-console-parser-error">
            <span>{{ vm.error.message }}</span>
          </div>
          <div class="raml-console-error-pre" ng-repeat="err in vm.error.errors">
            [{{err.isWarning && 'warning' || 'error'}}] {{err.message}}
          </div>
        </div>
      </section>
    </div>

    {{vm.raml}}
  </div>
</div>
