<div>
  <div ng-if="errors">
    <h1 class="raml-console-title">RAML Console</h1>
    <header class="raml-console-initializer-row raml-console-initializer-subheader">
      <h4 class="raml-console-initializer-subhead">Error while parsing</h4>
    </header>

    <div class="raml-console-initializer-row">
      <div class="raml-console-parser-error">
        <span>API contains errors.</span>
        <a ng-hide="!showErrorDetail == true" ng-click="showErrorDetail = false">(Show less)</a>
        <a ng-hide="showErrorDetail" ng-click="showErrorDetail = true">(Show more)</a>
      </div>
      <div class="raml-console-error-pre" ng-repeat="err in errors" ng-show="showErrorDetail">
        [{{err.isWarning && 'warning' || 'error'}}] {{err.message}}
      </div>
    </div>
  </div>

  <div ng-if="!errors">
    <div class="raml-console-meta-button-group">
      <theme-switcher ng-if="!disableThemeSwitcher"></theme-switcher>
      <raml-client-generator ng-if="!disableRamlClientGenerator"></raml-client-generator>
    </div>

    <h1 ng-if="!disableTitle" class="raml-console-title">{{raml.title}}</h1>

    <div ng-if="!disableDescription && !!raml.description && raml.description.length > 0"
         ng-init="actualSize = descriptionLimit">
      <div class="raml-console-root-description" markdown="raml.description | limitTo : actualSize"></div>
      <span>
      <a class="raml-console-show-more-less"
         ng-hide="raml.description.length <= descriptionLimit || raml.description.length > actualSize || raml.description.length < actualSize"
         ng-click="actualSize = descriptionLimit"
      >show less</a>
      <a class="raml-console-show-more-less"
         ng-hide="raml.description.length <= descriptionLimit || raml.description.length == actualSize"
         ng-click="actualSize = raml.description.length"
      >show more</a>
    </span>
    </div>

    <root-documentation></root-documentation>

    <root-types types="types" ng-if="types"></root-types>

    <resource-tree-root></resource-tree-root>
  </div>
</div>
