<div class="raml-console-resource-panel" ng-if="showPanel" ng-class="{ 'raml-console-has-sidebar-collapsed': singleView }">
  <div class="raml-console-resource-no-baseuri" ng-hide="raml.baseUri">
    <strong>Try-it</strong> is disabled because <strong>baseUri</strong> is not present
  </div>
  <div class="raml-console-resource-panel-wrapper">
    <documentation></documentation>

    <sidebar ng-show="raml.baseUri"></sidebar>

    <div class="raml-console-sidebar-controls raml-console-sidebar-controls-collapse" ng-click="collapseSidebar($event)" style="right: -1px; position: absolute;"ng-hide="!raml.baseUri" ng-if="!disableTryIt">
      <button class="raml-console-collapse" style="height: 21px; margin-top: 9px;">
        <svg style="transform: rotate(-180deg); display: inline;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 612 792" enable-background="new 0 0 612 792" xml:space="preserve">
          <g id="Layer_3">
            <polygon fill="#585961" points="480.9,396 142.1,46.2 142.1,745.8  "/>
          </g>
        </svg>
        <span class="raml-console-discoverable">Try it</span>
      </button>
    </div>

    <div class="raml-console-sidebar-controls raml-console-sidebar-controls-fullscreen" ng-click="toggleSidebar($event)" style="right: -1px; position: absolute;">
      <button class="raml-console-collapse" style="height: 21px; margin-top: 9px;">

        <svg style="transform: rotate(-180deg); display: inline;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 612 792" enable-background="new 0 0 612 792" xml:space="preserve">
          <g id="Layer_3">
            <polygon fill="#585961" points="480.9,396 142.1,46.2 142.1,745.8  "/>
          </g>
        </svg>
        <span class="raml-console-discoverable">Try it</span>
      </button>
    </div>
  </div>
</div>
