<ol id="raml-console-documentation-container" class="raml-console-resource-list raml-console-resource-list-root raml-console-root-documentation raml-console-resources-documentationCollapsed" ng-init="vm.isCollapsed = true">
  <li class="raml-console-resource-list-item raml-console-documentation-header">
    <header class="raml-console-resource raml-console-resource-root raml-console-clearfix">
      <div class="raml-console-resource-path-container">
        <h2 class="raml-console-resource-section-title raml-console-documentation-heading" ng-click="vm.isCollapsed = !vm.isCollapsed">
          <button class="raml-console-resource-root-toggle" ng-class="{'raml-console-is-active': vm.isCollapsed}"></button>
          <span class="raml-console-resource-path-active">Types</span>
        </h2>
      </div>
    </header>
  </li>
  <li ng-if="!vm.isCollapsed" class="raml-console-resource-panel raml-console-type-panel" style="padding: 32px;">
    <properties list="theTypes" collapsible="true" hide-property-details="true"></types>
  </li>
</ol>
