  <form name="form" class="sidebar" novalidate ng-class="{ 'is-fullscreen': withTryItOnFullscreen }">
    <div class="sidebar-flex-wrapper">
      <div class="sidebar-content">
        <header class="sidebar-row sidebar-header">
          <h3 class="sidebar-head">
            Try it
            <a class="sidebar-fullscreen-toggle js-sidebar-fullscreen" ng-click="toggleSidebar($event)">
              <img src="img/icn-expand.svg" alt="">
              <span class="visuallyhidden">Expand</span>
            </a>
          </h3>
        </header>

        <!-- Show more -->
        <div class="sidebar-show-more" ng-show="showMoreEnable">
          <p>
            more <img src="img/icn-chevron-down.svg" alt="">
          </p>
        </div>

        <div class="sidebar-content-wrapper">
          <section>
            <header class="sidebar-row sidebar-subheader sidebar-subheader-top">
              <h4 class="sidebar-subhead">Authentication</h4>
            </header>

            <div class="sidebar-row">
              <div class="toggle-group sidebar-toggle-group">
                <button ng-click="toggleSecurity($event, scheme.type, key)" class="toggle toggle-mini" ng-class="{'is-active': $first}" ng-repeat="(key, scheme) in securitySchemes">{{scheme.type}}</button>
              </div>
            </div>

            <div ng-switch="currentScheme.type">
              <basic-auth ng-switch-when="Basic Authentication" credentials='credentials'></basic-auth>
              <oauth1 ng-switch-when="OAuth 1.0" credentials='credentials'></oauth1>
              <oauth2 ng-switch-when="OAuth 2.0" credentials='credentials'></oauth2>
            </div>
          </section>

          <section id="sidebar-uri-parameters" ng-if="resource.uriParametersForDocumentation">
            <header class="sidebar-row sidebar-subheader">
              <h4 class="sidebar-subhead">URI Parameters</h4>
            </header>

            <div class="sidebar-row">
              <p class="sidebar-input-container" ng-repeat="uriParam in resource.uriParametersForDocumentation">
                <span class="sidebar-input-tooltip-container sidebar-input-left" ng-if="hasExampleValue(uriParam[0].example)">
                  <button tabindex="-1" class="sidebar-input-reset" ng-click="resetUriParameter(uriParam)"><span class="visuallyhidden">Reset field</span></button>
                  <span class="sidebar-tooltip-flyout-left">
                    <span>Use example value</span>
                  </span>
                </span>
                <span class="sidebar-input-tooltip-container" ng-if="uriParam[0].description">
                  <button tabindex="-1" class="sidebar-input-tooltip"><span class="visuallyhidden">Show documentation</span></button>
                  <span class="sidebar-tooltip-flyout">
                    <span marked="uriParam[0].description"></span>
                  </span>
                </span>
                <label for="{{uriParam[0].id}}" class="sidebar-label">{{uriParam[0].displayName}} <span class="side-bar-required-field" ng-if="uriParam[0].required">*</span></label>
                <input name="{{uriParam[0].id}}" ng-required="{{uriParam[0].required}}" class="sidebar-input" ng-model="uriParameters[uriParam[0].id]" ng-class="{'sidebar-field-no-default': !hasExampleValue(uriParam[0].example)}">
                <span class="field-validation-error"></span>
              </p>
            </div>
          </section>

          <section id="sidebar-headers" ng-if="methodInfo.headers.plain">
            <header class="sidebar-row sidebar-subheader">
              <h4 class="sidebar-subhead">Headers</h4>
            </header>

            <div class="sidebar-row">
              <p class="sidebar-input-container" ng-repeat="header in methodInfo.headers.plain">
                <span class="sidebar-input-tooltip-container sidebar-input-left" ng-if="hasExampleValue(header[0].example)">
                  <button tabindex="-1" class="sidebar-input-reset" ng-click="resetHeader(header)"><span class="visuallyhidden">Reset field</span></button>
                  <span class="sidebar-tooltip-flyout-left">
                    <span>Use example value</span>
                  </span>
                </span>

                <span class="sidebar-input-tooltip-container" ng-if="header[0].description">
                  <button tabindex="-1" class="sidebar-input-tooltip"><span class="visuallyhidden">Show documentation</span></button>
                  <span class="sidebar-tooltip-flyout">
                    <span marked="header[0].description"></span>
                  </span>
                </span>
                <label for="{{header[0].id}}" class="sidebar-label">{{header[0].displayName}} <span class="side-bar-required-field" ng-if="header[0].required">*</span></label>
                <input name="{{header[0].id}}" ng-required="{{header[0].required}}" class="sidebar-input" ng-model="context.headers.values[header[0].id][0]" ng-class="{'sidebar-field-no-default': !hasExampleValue(header[0].example)}">
                <span class="field-validation-error"></span>
              </p>
            </div>
          </section>

          <section id="sidebar-query-parameters" ng-if="methodInfo.queryParameters">
            <header class="sidebar-row sidebar-subheader">
              <h4 class="sidebar-subhead">Query Parameters</h4>
            </header>

            <div class="sidebar-row">
              <p id="sidebar-query-parameters-all" class="sidebar-input-container" ng-repeat="queryParam in methodInfo.queryParameters">
                <span class="sidebar-input-tooltip-container" ng-if="queryParam[0].description">
                  <button tabindex="-1" class="sidebar-input-tooltip"><span class="visuallyhidden">Show documentation</span></button>
                  <span class="sidebar-tooltip-flyout">
                    <span marked="queryParam[0].description"></span>
                  </span>
                </span>
                <label for="{{queryParam[0].id}}" class="sidebar-label">{{queryParam[0].displayName}} <span class="side-bar-required-field" ng-if="queryParam[0].required">*</span></label>

                <span class="sidebar-input-tooltip-container sidebar-input-left" ng-if="hasExampleValue(queryParam[0].example)">
                  <button tabindex="-1" class="sidebar-input-reset" ng-click="resetQueryParam(queryParam)"><span class="visuallyhidden">Reset field</span></button>
                  <span class="sidebar-tooltip-flyout-left">
                    <span>Use example value</span>
                  </span>
                </span>
                <input name="{{queryParam[0].id}}" ng-required="{{queryParam[0].required}}"  class="sidebar-input" ng-model="context.queryParameters.values[queryParam[0].id][0]" ng-class="{'sidebar-field-no-default': !hasExampleValue(queryParam[0].example)}" />
                <span class="field-validation-error"></span>

              </p>
            </div>
          </section>

          <section id="sidebar-body" ng-if="methodInfo.body">
            <header class="sidebar-row sidebar-subheader">
              <h4 class="sidebar-subhead">Body</h4>
            </header>

            <div class="sidebar-row">
              <div class="toggle-group sidebar-toggle-group sidebar-toggle-type">
                <button class="toggle toggle-mini" ng-click="toggleBodyType($event, key)" ng-class="{'is-active': $first}" ng-repeat="(key, value) in methodInfo.body">{{key}}</button>
              </div>
            </div>

            <div class="sidebar-row">
              <div class="codemirror-body-editor" ui-codemirror="{ lineNumbers: true, tabSize: 2 }" ng-model="context.bodyContent.definitions[context.bodyContent.selected].value"></div>
            </div>

            <div class="sidebar-prefill sidebar-row" align="right" ng-if="context.bodyContent.definitions[context.bodyContent.selected].hasExample()">
              <button class="sidebar-action-prefill" ng-click="prefillBody(context.bodyContent.selected)">Prefill with example</button>
            </div>
          </section>

          <section>
            <div class="sidebar-row">
              <div class="sidebar-action-group">
                <button type="submit" class="sidebar-action sidebar-action-{{methodInfo.method}}" ng-click="tryIt($event)">{{methodInfo.method.toUpperCase()}}
                </button>
                <button class="sidebar-action sidebar-action-clear" ng-click="clearFields()">Clear</button>
                <button class="sidebar-action sidebar-action-reset" ng-click="resetFields()">Reset</button>
              </div>
            </div>
          </section>

          <section>
            <header class="sidebar-row sidebar-header">
              <h3 class="sidebar-head sidebar-head-expand">
                <button ng-class="{'is-open':showRequestMetadata, 'is-collapsed':!showRequestMetadata}" class="sidebar-expand-btn js-toggle-request-metadata" ng-click="toggleRequestMetadata()">
                  Request
                </button>
              </h3>
              <img src="img/spinner.gif" style="height: 21px; width: 21px; float: right; margin-right: 10px; margin-top: 3px;" ng-if="showSpinner"/>
            </header>
            <div class="sidebar-request-metadata" ng-class="{'is-active':showRequestMetadata}">

              <div class="sidebar-row">
                <div ng-if="requestOptions.url">
                  <h3 class="sidebar-response-head sidebar-response-head-pre">Request URI</h3>
                  <div class="sidebar-response-item">
                    <p class="sidebar-response-metadata">{{requestOptions.url}}</p>
                  </div>
                </div>

                <div ng-if="requestOptions.headers">
                  <h3 class="sidebar-response-head">Headers</h3>
                  <div class="sidebar-response-item">
                    <p class="sidebar-response-metadata" ng-repeat="(key, value) in requestOptions.headers">
                      <b>{{key}}:</b> <br>{{value}}
                    </p>
                  </div>
                </div>

                <div ng-if="requestOptions.data">
                  <h3 class="sidebar-response-head sidebar-response-head-pre">Body</h3>
                  <pre class="sidebar-pre sidebar-request-body"><code ui-codemirror="{ readOnly: 'nocursor', tabSize: 2, lineNumbers: true }" ng-model="requestOptions.data"></code></pre>
                </div>
              </div>
            </div>
          </section>

          <section>
            <header class="sidebar-row sidebar-header">
              <h3 class="sidebar-head">Response</h3>
            </header>

            <div class="sidebar-row sidebar-response" ng-class="{'is-active':requestEnd}">
              <h3 class="sidebar-response-head">Status</h3>
              <p class="sidebar-response-item">{{response.status}}</p>

              <h3 class="sidebar-response-head">Headers</h3>
              <div class="sidebar-response-item">
                <p class="sidebar-response-metadata" ng-repeat="(key, value) in response.headers">
                  <b>{{key}}:</b> <br>{{value}}
                </p>
              </p>
            </div>

            <div ng-if="response.body">
              <h3 class="sidebar-response-head sidebar-response-head-pre">Body</h3>
              <pre class="sidebar-pre"><code ui-codemirror="{ readOnly: true, tabSize: 2, lineNumbers: true, lineWrapping : true }" ng-model="response.body"></code></pre>
            </div>
          </div>
        </section>
      </div>
    </div>

    <!-- Sidebar control to intermediate view -->
    <div class="sidebar-controls sidebar-controls-collapse js-sidebar-collapse-toggle" ng-click="collapseSidebar($event)">
      <button class="collapse">
        <span class="discoverable">Try it</span>
        <img src="img/icn-expand.svg" alt="">
      </button>
    </div>

    <!-- Sidebar control to full-screen/full-width view -->
    <div class="sidebar-controls sidebar-controls-fullscreen js-sidebar-fullscreen">
      <button class="collapse">
        <span class="discoverable">Try it</span>
        <img src="img/icn-expand.svg" alt="">
      </button>
    </div>
  </div>
</form>
