<span ng-repeat="type in typeInfo.parts">
  <span ng-if="!$first && typeInfo.type === 'union'"> | </span>
  <a href="" ng-click="selectType($event, type)" ng-if="!hideTypeLinks">{{type}}</a>
  <span ng-if="hideTypeLinks">{{type}}</span>
  <span ng-if="typeInfo.type === 'array'">[]</span>
</span>
<div ng-if="selectedType" class="raml-console-type-info-popover">
  <h3>{{selectedType.displayName}}</h3>
  <properties
    ng-click="$event.preventDefault()"
    list="selectedType.properties"
    ng-if="selectedType.properties"
    is-nested-property="true"
    hide-type-links="true">
  </properties>
</div>
