<span ng-repeat="type in typeInfo.parts">
  <span ng-if="!$first && typeInfo.type === 'union'"> | </span>
  <a href="" ng-click="selectType(type)" ng-if="!hideTypeLinks">{{type}}</a>
  <spane ng-if="hideTypeLinks">{{type}}</span>
  <span ng-if="typeInfo.type === 'array'">[]</span>
</span>
<div ng-if="selectedType" style="padding: 10px; position: absolute; top: 20px; left: 0; background-color: #FFF !important; width: 350px; border: 1px solid black; z-index: 99;">
  <h3>{{selectedType.displayName}}</h3>
  <properties
    ng-click="$event.preventDefault()"
    list="selectedType.properties"
    ng-if="selectedType.properties"
    is-nested-property="true"
    hide-type-links="true">
  </properties>
</div>
