registry=https://registry.npmjs.org/
@advanced-rest-client:registry=https://registry.npmjs.org/
@mulesoft:registry=https://registry.npmjs.org/
@salesforce:registry=https://registry.npmjs.org/
always-auth=false
strict-ssl=true 
