<element name="api-operation" attributes="active resource">
  <template>
    <style></style>
    <section role="api-operation" class="{{active:active}}">
      <header id="operationHeader">
        <hgroup on-click="headerClick">
          <h1>{{resource.name}}</h1>
          <h2>{{resource.relativeUri}}</h2>
        </hgroup>
        <div role="summary">
          <ul role="traits">
            <template repeat="{{trait in resource.use}}">
              <li>{{trait}}</li>
            </template>
          </ul>
          <ul role="operations">
            <template repeat="{{operation in resource.methods}}">
              <template if="{{operation.method == selectedMethod}}">
                <li role="{{operation.method}}" class="active" on-click="operationClicked"><span>{{operation.method}}</span></li>
              </template>
              <template if="{{operation.method != selectedMethod}}">
                <li role="{{operation.method}}" on-click="operationClicked"><span>{{operation.method}}</span></li>
              </template>
            </template>
          </ul>
        </div>
      </header>
      <api-operation-details id="operationDetails" resource="{{resource}}"></api-operation-details>
    </scection>
  </template>
  <script></script>
</element>