<element name="api-operation" attributes="active resource">
  <template>
    <style></style>
    <section role="api-operation" class="{{active:active}}" on-click="click">
      <header>
        <hgroup>
          <h1>{{resource.name}}</h1>
          <h2>{{resource.relativeUri}}</h2>
        </hgroup>
        <div role="summary">
          <ul role="traits">
            <template repeat="{{trait in resource.traits}}">
              <li>{{trait}}</li>
            </template>
          </ul>
          <ul role="operations">
            <template repeat="{{operation in resource.operations}}">
              <li role="{{operation.method}}">{{operation.method}}</li>
            </template>
          </ul>
        </div>
      </header>
      <api-operation-details></api-operation-details>
    </scection>
  </template>
  <script></script>
</element>