<element name="api-operation">
  <template>
    <style></style>
    <section role="api-operation" class="active">
        <header>
            <hgroup>
                <h1>Consumer versions</h1>
                <h2>/consumers/{consumerId}/versions/</h2>
            </hgroup>
            <div role="summary">
                <ul role="traits">
                    <li>Secure</li>
                    <li>Errors</li>
                    <li>Another</li>
                </ul>
                <ul role="operations">
                    <li role="get" class="active"><a href="#">get</a></li>
                    <li role="post"><a href="#">post</a></li>
                    <li role="put"><a href="#">put</a></li>
                    <li role="delete"><a href="#">delete</a></li>
                </ul>
            </div>
        </header>
       <api-operation-details></api-operation-details>
    </scection>
  </template>
  <script></script>
</element>