<element name="api-console-sidebar" attributes="resources documentation">
  <template>
    <style></style>
    <template if="{{documentation.length}}">
      <section role="documentation">
        <header>
          <h1>Overview</h1>
        </header>
        <ul role="documentation">
          <template repeat="{{document in documentation}}">
            <template if="{{document.title == selectedDocumentation}}" bind="{{document}}">
              <li class="active">
                <a href="#" on-click="documentationClicked">{{title}}</a>
              </li>
            </template>
            <template if="{{document.title != selectedDocumentation}}" bind="{{document}}">
              <li>
                <a href="#" on-click="documentationClicked">{{title}}</a>
              </li>
            </template>
          </template>
        </ul>
      </section>
    </template>
    <template if="{{resources.length}}">
      <section role="resources">
        <header>
          <h1>Api Reference</h1>
        </header>
        <ul>
          <template repeat="{{resource in resources}}">
            <template if="{{resource.name == selectedResource}}" bind="{{resource}}">
              <li class="active">
                <a href="#" on-click="resourceClicked">{{name}}</a>
              </li>
            </template>
            <template if="{{resource.name != selectedResource}}" bind="{{resource}}">
              <li>
                <a href="#" on-click="resourceClicked">{{name}}</a>
              </li>
            </template>
          </template>
        </ul>
      </section>
    </template>
  </template>
  <script></script>
</element>