<main class="container primary">
  <h1 class="title">{{raml.title}}</h1>

  <ol class="resource-list resource-list-root">
    <li class="resource-list-item" ng-repeat="resourceGroup in raml.resourceGroups">
      <header class="resource resource-root clearfix" ng-init="resource = resourceGroup[0]">
        <div class="resource-path-container">
          <button class="resource-root-toggle">
            <span class="visuallyhidden">See Nested Resources</span>
          </button>

          <h2 class="resource-heading resource-heading-large">
            <span class="resource-path-active" ng-repeat='segment in resource.pathSegments'>{{segment.toString()}}</span>
          </h2>

          <span ng-show="resource.resourceType" class="flag resource-heading-flag resource-heading-flag-root"><b>Type:</b> {{resource.resourceType}}</span>
        </div>

        <div class="tab-list">
          <a class="tab" href="#" ng-repeat="method in resource.methods">
            <svg class="tab-image tab-{{method.method}}">
              <use xlink:href="img/tab.svg#shape" />
            </svg>

            <span class="tab-label">{{method.method.toLocaleUpperCase()}}</span>
          </a>
        </div>

        <button class="resource-close-btn">
          Close
        </button>
      </header>

      <!-- Child Resources -->
      <ol class="resource-list">
        <li class="resource-list-item" ng-repeat="resource in resourceGroup" ng-if="!$first">
          <div class="resource clearfix">
            <div class="resource-path-container">
              <h3 class="resource-heading">
                <span ng-repeat-start='segment in resource.pathSegments' ng-if="!$last">{{segment.toString()}}</span><span ng-repeat-end ng-if="$last" class="resource-path-active">{{segment.toString()}}</span>
              </h3>

              <span ng-show="resource.resourceType" class="flag resource-heading-flag"><b>Type:</b> {{resource.resourceType}}</span>
            </div>

            <div class="tab-list">
              <a class="tab" href="#" ng-repeat="method in resource.methods">
                <svg class="tab-image tab-{{method.method}}">
                  <use xlink:href="img/tab.svg#shape" />
                </svg>

                <span class="tab-label">{{method.method.toLocaleUpperCase()}}</span>
              </a>
            </div>

            <button class="resource-close-btn">
              Close
            </button>
          </div>
        </li>
      </ol>

    </li>
  </ol>

</main>
