<main class="error-container error-primary">

  <div ng-if="!parseError">
    <div ng-if="!loaded">
      <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
    </div>
  </div>

  <div class="error-content" ng-if="parseError">
    <h3 class="heading">Error while loading <b>{{parseError.fileName}}</b></h3>

    <section>
      <header class="error-row error-header">
        <h3 class="error-head error-head-expand">
          <div class="error-expand-btn">
            Message
          </div>
        </h3>
      </header>
      <pre class="error-pre"><code class="error-message">{{parseError.message}}</code></pre>

      <div ng-if="parseError.snippet">
        <header class="error-row error-header">
          <h3 class="error-head error-head-expand">
            <div class="error-expand-btn">
              Snippet <span class="error-subhead">(Line {{parseError.line}}, Column {{parseError.column}})</span>
            </div>
          </h3>
        </header>
        <pre class="error-pre"><code class="error-snippet">{{parseError.snippet}}</code></pre>
      </div>

      <div ng-if="parseError.raml">
        <header class="error-row error-header">
          <h3 class="error-head error-head-expand">
            <div class="error-expand-btn">
              RAML
            </div>
          </h3>
        </header>
        <pre class="error-pre error-codemirror-container"><code ui-codemirror="{
            lineNumbers: true,
            readOnly: 'nocursor',
            lineWrapping : true,
            tabSize: 2,
            mode: 'yaml'
          }" ng-model="parseError.raml"></code></pre>
      </div>
    </section>
  </div>

  <div ng-if="loaded">
    <theme-switcher ng-if="!disableThemeSwitcher"></theme-switcher>
    <h1 class="title">{{raml.title}}</h1>

    <div ng-if="proxy" align="right" class="resource-proxy">
      <span>API is behind a firewall <a href="http://www.mulesoft.org/documentation/display/current/Accessing+Your+API+Behind+a+Firewall" target="_blank">(?)</a></span>
      <input type="checkbox" ng-model="disableProxy" ng-change="updateProxyConfig(disableProxy)">
    </div>

    <div>
      <a class="toggle-button resources-expanded" href="" ng-click="collapseAll($event)">collapse All</a>
    </div>

    <ol class="resource-list resource-list-root">
      <li id="{{generateId(resource.pathSegments)}}" class="resource-list-item" ng-repeat="resourceGroup in raml.resourceGroups">
        <header class="resource resource-root clearfix" ng-class="{ 'is-active':showPanel }" ng-init="resource = resourceGroup[0]">
          <div class="resource-path-container">
            <button class="resource-root-toggle" ng-if="resourceGroup.length > 1" ng-click="toggle($event)"></button>

            <h2 class="resource-heading resource-heading-large">
              <span class="resource-path-active" ng-repeat='segment in resource.pathSegments'>{{segment.toString()}}</span>
            </h2>

            <resource-type></resource-type>
          </div>

          <method-list></method-list>
          <close-button></close-button>
        </header>

        <resource-panel></resource-panel>

        <!-- Child Resources -->
        <ol class="resource-list">
          <li id="{{generateId(resource.pathSegments)}}" class="resource-list-item" ng-repeat="resource in resourceGroup" ng-if="!$first">
            <div class="resource clearfix" ng-class="{ 'is-active':showPanel }">
              <div class="resource-path-container">
                <h3 class="resource-heading">
                  <span ng-repeat-start='segment in resource.pathSegments' ng-if="!$last">{{segment.toString()}}</span><span ng-repeat-end ng-if="$last" class="resource-path-active">{{segment.toString()}}</span>
                </h3>

                <resource-type></resource-type>
              </div>

              <method-list></method-list>
              <close-button></close-button>
            </div>

            <resource-panel></resource-panel>
          </li>
        </ol>

      </li>
    </ol>
  </div>
</main>
