<main class="raml-console-error-container raml-console-error-primary">

  <div ng-if="!loaded">
    <div class="raml-console-spinner">
      <div class="raml-console-rect1"></div>
      <div class="raml-console-rect2"></div>
      <div class="raml-console-rect3"></div>
      <div class="raml-console-rect4"></div>
      <div class="raml-console-rect5"></div>
    </div>
  </div>

  <div ng-if="loaded">
    <div class="raml-console-meta-button-group">
      <theme-switcher ng-if="!disableThemeSwitcher"></theme-switcher>
      <raml-client-generator ng-if="!disableRamlClientGenerator"></raml-client-generator>
    </div>

    <h1 ng-if="!disableTitle" class="raml-console-title">{{raml.title}}</h1>

    <root-documentation></root-documentation>

    <ol ng-class="{'raml-console-resources-container-no-title': disableTitle, 'raml-console-resources-container': !disableTitle}" id="raml-console-resources-container" class="raml-console-resource-list raml-console-resource-list-root">
      <li id="raml_documentation" class="raml-console-resource-list-item raml-console-documentation-header">
        <div ng-if="proxy" align="right" class="raml-console-resource-proxy">
          <label for="raml-console-api-behind-firewall">API is behind a firewall <a href="http://www.mulesoft.org/documentation/display/current/Accessing+Your+API+Behind+a+Firewall" target="_blank">(?)</a></label>
          <input id="raml-console-api-behind-firewall" type="checkbox" ng-model="disableProxy" ng-change="updateProxyConfig(disableProxy)">
        </div>
        <header class="raml-console-resource raml-console-resource-root raml-console-clearfix">
          <span ng-if="hasResourcesWithChilds()" class="raml-console-flag raml-console-resource-heading-flag raml-console-toggle-all" ng-click="collapseAll($event)" ng-class="{'raml-console-resources-expanded':!collapsed}">
            <span ng-if="!collapsed">collapse</span>
            <span ng-if="collapsed">expand</span> all
          </span>

          <div class="raml-console-resource-path-container">
            <h2 class="raml-console-resource-section-title">
              <span class="raml-console-resource-path-active">Resources</span>
            </h2>
          </div>
          <close-button></close-button>
        </header>
      </li>

      <li id="{{generateId(resource.pathSegments)}}" class="raml-console-resource-list-item" ng-repeat="resourceGroup in raml.resourceGroups">
        <header class="raml-console-resource raml-console-resource-root raml-console-clearfix" ng-class="{ 'raml-console-is-active':showPanel }" ng-init="resource = resourceGroup[0]">
          <div class="raml-console-resource-path-container" ng-init="index=$index">
            <button class="raml-console-resource-root-toggle" ng-class="{'raml-console-is-active': items[$index]}" ng-if="resourceGroup.length > 1" ng-click="toggle($event, index)"></button>

            <h2 class="raml-console-resource-heading raml-console-resource-heading-large">
              <a class="raml-console-resource-path-active" ng-class="{'raml-console-resource-heading-hover':resourceGroup.length > 1}" ng-repeat='segment in resource.pathSegments' ng-if="resourceGroup.length > 1" ng-click="toggle($event, index)">{{segment.toString()}}</a>

              <span class="raml-console-resource-path-active" ng-class="{'raml-console-resource-heading-hover':resource.description}" ng-repeat='segment in resource.pathSegments' ng-if="resourceGroup.length <= 1" ng-click="showResourceDescription($event)">{{segment.toString()}}</span>
            </h2>

            <resource-type></resource-type>
            <span ng-if="methodInfo.is" class="raml-console-flag raml-console-resource-heading-flag raml-console-resource-trait"><b>Trait:</b> {{traits}}</span>

          </div>
          <method-list></method-list>
          <close-button></close-button>
        </header>

        <resource-panel></resource-panel>

        <!-- Child Resources -->
        <ol class="raml-console-resource-list" ng-class="{'raml-console-is-collapsed': collapsed}">

          <li class="raml-console-resource-list-item raml-console-resource-description" ng-show="resourceGroup.length > 1" ng-if="resource.description">
            <div class="raml-console-resource-panel-primary-row raml-console-resource-panel-content raml-console-is-active">
              <h3 class="raml-console-resource-heading-a">Description</h3>
              <p marked="resource.description" opts="markedOptions"></p>
            </div>
          </li>

          <li id="{{generateId(resource.pathSegments)}}" class="raml-console-resource-list-item" ng-repeat="resource in resourceGroup" ng-if="!$first">
            <div class="raml-console-resource raml-console-clearfix" ng-class="{ 'raml-console-is-active':showPanel }">
              <div class="raml-console-resource-path-container">
                <h3 class="raml-console-resource-heading" ng-click="showResourceDescription($event)" ng-class="{'raml-console-resource-heading-hover':resource.description}">
                  <span ng-repeat-start='segment in resource.pathSegments' ng-if="!$last">{{segment.toString()}}</span><span ng-repeat-end ng-if="$last" class="raml-console-resource-path-active">{{segment.toString()}}</span>
                </h3>

                <resource-type></resource-type>
                <span ng-if="methodInfo.is" class="raml-console-flag raml-console-resource-heading-flag raml-console-resource-trait"><b>Trait:</b> {{traits}}</span>
              </div>

              <method-list></method-list>
              <close-button></close-button>
            </div>

            <span class="raml-console-resource-list-item raml-console-resource-description" ng-show="resourceGroup.length > 1" ng-if="resource.description">
              <div class="raml-console-resource-panel-primary-row raml-console-resource-panel-content raml-console-is-active">
                <h3 class="raml-console-resource-heading-a">Description</h3>
                <p marked="resource.description" opts="markedOptions"></p>
              </div>
            </span>

            <resource-panel></resource-panel>
          </li>
        </ol>

      </li>
    </ol>
  </div>
</main>
