<element name="api-console" attributes="definition">
  <template>
    <style></style>
    
    <select id="apiSelector" on-change="apiChanged">
      <option value="instagram.yml">Instagram</option>
      <option value="twitter.yml">Twitter</option>
    </select>

    <api-console-sidebar resources="{{resources}}" on-sidebar-element-clicked="sidebarClicked"></api-console-sidebar>
    <api-operation-list id="operationList" definition="{{definition}}"></api-operation-list>
  </template>
  <script></script>
</element>