<element name="api-console" attributes="definition">
  <template>
    <style></style>
    
    <select id="apiSelector" on-change="apiChanged">
      <option value="instagram.yml">Instagram</option>
      <option value="twitter.yml">Twitter</option>
    </select>

    <api-console-sidebar resources="{{resources}}" 
                         documentation="{{documentation}}" 
                         on-sidebar-documentation-element-clicked="documentationElementClicked"
                         on-sidebar-resource-element-clicked="resourceElementClicked"></api-console-sidebar>

    <api-operation-list id="operationList" definition="{{definition}}"></api-operation-list>

    <api-documentation id="documentation" definition="{{definition}}"></api-documentation>
  </template>
  <script></script>
</element>