.btn {
  .buttonBackground(#1998C6, #1998C6, white, 0 1px 1px rgba(255,255,255,.75));
  text-transform: uppercase;
  text-shadow: none;

  &.inverted {
    color: #1998C6;
    .buttonBackground(#E9EEF2, #E9EEF2, #1998C6, 0 1px 1px rgba(255,255,255,.75));
  }
}
