form {

  &.form-labelled-inline {
    background-color: #f8f8f8;
    padding: 10px 20px;

    legend {
      border-bottom: none;
      font-family: 'open sans';
      font-size: 18px;
      margin-bottom: 10px;
    }

    legend + .control-group {
      margin-top: 0;
    }

    .control-group {
      display: inline-block;
      padding-right: 10px;
      margin-bottom: 0;

      label {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 10px;
        margin-bottom: 0;
        margin-left: 1px;
      }
    }

    .form-actions {
      padding: 15px 0 10px;
      border: 0;
      background-color: transparent;
      margin: 0;
    }
  }
}
