.labelled-inline {
  legend + .control-group {
    margin-top: 0;
  }

  .control-group {
    display: inline-block;
    padding-right: 10px;
    margin-bottom: 0;

    label {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 10px;
      margin-bottom: 0;
      margin-left: 1px;
    }
  }
}

.labelled-radio-group {
  > label {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    margin-bottom: 0;
    margin-left: 1px;
  }


  label {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    color: #333;
  }

}
