@import 'preboot';
@import "commons.less";
@import "raml-console.less";


body {
	margin: 0px;
	font-family: 'Ubuntu', sans-serif;
	background-color: #E6E7EB;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
