.method-color(@color, @mediumColor, @lightColor) {
  &.method-name {
    background-color: @color;
    border-color:     @color;

    &:hover {
      background-color: @mediumColor;
    }
  }

  .method-nav(@color, @mediumColor, @lightColor)
}

.method-nav(@color, @mediumColor, @lightColor) {
  .tabbable, .nav, .nav-tabs {
    .clearfix();
  }

  .nav {
    position: absolute;
    top: 0;
    width: 100%;
    color: white;
    background-color: @color;
    z-index: 5;
  }

  .nav-tabs {
    text-align: right;
  }

  .nav-tabs > li {
    display: inline-block;
    cursor: pointer;
    line-height: 24px;
  }

  .nav-tabs > li > a {
    display: block;
    color: white;
    padding: 0 15px;
    line-height: 24px;
  }

  .nav-tabs > li:nth-child(1) {
    display: block;
    position: absolute;
    user-select: none;
    font-weight: 600;
    text-transform: uppercase;
  }

  .nav-tabs > li:nth-child(2) {
    margin-left: 60px;
  }

  .nav-tabs > li:nth-child(1) > a,
  .nav-tabs > li:nth-child(1) > a:hover {
    color: white;
  }

  .nav-tabs > li > a:hover,
  .nav-tabs > .active > a,
  .nav-tabs > .active > a:hover,
  .nav-tabs > .active > a:focus {
    cursor: default;
    background-color: @mediumColor;
  }

  .nav > .disabled > a,
  .nav > .disabled > a:hover,
  .nav > .disabled > a:focus {
    color: tint(@color, 50%);
    text-decoration: none;
    cursor: default;
    background-color: transparent;
  }

  .responses {
    margin-top: 50px;

    .nav {
      top: 24px;
      left: 0;
      background-color: @mediumColor;

      .active a {
        background-color: @lightColor;
      }
    }
   }

  .try-it {
    margin-top: 76px;

    .nav {
      top: 24px;
      left: 0;
      background-color: @mediumColor;
      padding: 10px 0 10px 15px;
    }
  }

  .tab-content {
    padding: 0 15px;
  }
}

.get      { .method-color(@getColor, @getMediumColor, @getLightColor);               }
.post     { .method-color(@postColor, @postMediumColor,  @postLightColor);             }
.delete   { .method-color(@deleteColor, @deleteMediumColor, @deleteLightColor);         }
.put      { .method-color(@putColor, @putMediumColor,  @putLightColor);               }
.patch    { .method-color(@patchColor, @patchMediumColor,  @patchLightColor);           }
.head     { .method-color(@headColor, @headMediumColor, @headLightColor);             }
.trace    { .method-color(@traceColor, @traceMediumColor, @traceLightColor);           }
.connect  { .method-color(@connectColor, @connectMediumColor, @connectLightColor);       }
.options  { .method-color(@optionsColor, @optionsMediumColor, @optionsLightColor);       }

.method-name {
  user-select: none;
  font-size: 9px;
  text-transform: uppercase;
  color: #FFF;
  text-align: center;
  display: inline-block;
  border-radius: 3px;

  width: 50px;
}

.method {
  position: relative;
  margin: 0 -8px 10px -10px;
  background: white;
  display: flex;
  flex-direction: column;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 15px;
  }

  .description {
    margin-left: 0;

    p:first-child {
      margin-top: 0px;
    }
  }

  .modifiers {
    margin-top: 24px;
  }
}

.method-summary {
  flex: 0 0 auto;

  .abbreviated-description {
    padding: 0 20px 0 10px;
    .inline-markdown(28px);
  }

  .filler {
    display: block;
    height: 32px;
    width: auto;
  }

  .method-name {
    float: left;
    line-height: 30px;
  }

  i {
    position: absolute;
    top: 0;
    right: 10px;
    color: @lightGray;
    line-height: 32px;
    font-size: 19px;
  }

  .clearfix();
}
