.method-color(@color) {
  &.method-name {
    background-color: tint(@color, 15%);
    border-color:     tint(@color, 15%);

    &:hover {
      background-color: @color;
    }
  }

  &.method {
    border-color: tint(@color, 15%);
  }

  .method-summary {
    background-color: tint(@color, 15%);
  }
}

.get      { .method-color(@cornflower); }
.post     { .method-color(@green);      }
.put      { .method-color(@aqua);       }
.patch    { .method-color(@mustard);    }
.delete   { .method-color(@red);        }
.head     { .method-color(@purple);     }
.options  { .method-color(@limeGreen);  }
.trace    { .method-color(@skyBlue);    }
.connect  { .method-color(@gold);       }

.method-name {
  .disable-selection;
  font-size: 10px;
  text-transform: uppercase;
  color: @veryLightGray;
  text-align: center;
  display: inline-block;

  width: 60px;
}

.method {
  position: relative;
  margin: 0px 0px 10px;
  border-radius: 0 0 5px 5px;
  border-width: 1px;
  border-style: solid;
  background: white;
  .flex-column;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 15px;
  }

  .description {
    margin-left: 0;

    p:first-child {
      margin-top: 0px;
    }
  }
}

.method-summary {
  .flex(0 0 auto);

  .abbreviated-description {
    padding: 0 20px 0 10px;
    .inline-markdown(28px);
  }

  .filler {
    display: block;
    height: 32px;
    width: auto;
  }

  .method-name {
    float: left;
    line-height: 30px;
  }

  i {
    position: absolute;
    top: 0;
    right: 10px;
    color: @lightGray;
    line-height: 32px;
    font-size: 19px;
  }

  .clearfix();
}
