ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.accordion {
  margin-bottom: 0;
}

.accordion-group {
  padding: 0;
  border: none;
  .border-radius(0);
}

.accordion-heading {
  border-top: 1px solid #E4E4E6;
  border-bottom: 1px solid #E4E4E6;
}

.accordion-inner {
  padding: 0;
  border: none;
}
