.parameterTable {
  [role="parameter"] {
    h4 {

      [role="display-name"] {
        font-family: monospace;
      }
    }

    .constraints {
      color: #bbb;
      font-weight: normal;
      font-style: italic;
      margin-left: 5px;
      font-size: 14px;
    }

    .info {
      margin-left: 0px;
    }
  }
}
