.parameterTable {
  [role="parameter"] {
    &:first-of-type {
      h4 {
        margin-top: 10px;
      }
    }

    h4 {
      font-size: 16px;
      margin-top: 20px;
      margin-bottom: 0;

      [role="display-name"] {
        font-family: monospace;
      }
    }

    .constraints {
      color: #bbb;
      font-weight: normal;
      font-style: italic;
      margin-left: 5px;
      font-size: 14px;
    }

    .info {
      margin-left: 0px;
    }
  }
}
