@import "commons";

article[role=api-console] {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

ul[role=traits] {
  float: right;
  li {
    display: inline-block;
    color: #9FD769;
    font-style: italic;
    font-weight: lighter;

    &:after {
      content: ",";
      padding-right: 0.33em;
    }

    &:last-child:after {
      content: "";
    }
  }

}

[role=resources] > .accordion {
  background-color: white;
  box-shadow: -3px -2px 3px 1px #D5D6DA;
}

[role=resource] {
  color: #B2AEAD;

  .accordion-heading {
    padding: 5px 10px;

    h2 {
      margin: 0 0 10px 0;
      font-size: 16px;
    }
    .clearfix()
  }
}

ul[role=methods] {
  float: right;

  li {
    display: inline-block;
    background-color: #EFEBEA;
    text-transform: uppercase;
    margin-left: 5px;
    text-align: center;
    font-size: 11px;
    padding: 5px 20px;
  }
}
[role=methodSummary] {
  i {
    font-size: 24px;
    line-height: 20px;
    vertical-align: middle;
    color: #CBCDCC;
  }
  [role=description] {
    font-weight: normal;
    font-size: 13px;
    padding-left: 25px;
  }
}

span[role=segment] {
  font-weight: normal;
  font-style: italic;

  &:last-child {
    font-style: normal;

    font-weight: bold;
    color: #1B99CD;
    padding-left: 5px;
  }

  &:first-child {
    padding: 0;
  }
}

[role=displayName], [role=resourceType] {
  font-size: 12px;
  padding-top: 5px;
  display: inline-block;
}

[role=resourceType] {
  span {
    text-transform: uppercase;
    font-weight: bold;
    color: black;
  }
}
