@import 'commons';

section[role=api-operation] {
    display: block;
    border: 1px solid rgb(218,220,221);
    border-top: 0px;
    max-height: 45px;
    color: black;
    background: white;
    padding: 15px 20px;
    position: relative;
    margin: 0px;
    transition: max-height 0.05s;

    &.first {
        border-top: 1px solid rgb(218,220,221);
    }

    > header {
        height: 73px;
        h1 {
          font-size: 13px;
          font-weight: bold;
          margin: 0px;
          padding: 0px;
          color: black;
        }
        h2 {
          font-size: 12px;
          font-weight: normal;
          margin: 0px;
          padding: 0px;
          margin-top: 8px;
          color: rgb(158,163,166);
          letter-spacing:1px;
      }
      
      > div[role=summary] {
        position: absolute;
        right: 0px;
        top: 0px;
        margin-right: 20px;
        text-align: right;
        font-size: 0px;
        > ul {
          display: block;
          margin: 0px;
          cursor: default;
          > li {
            display: inline-block;
            margin-left: 4px;
            list-style: none;
          }
        }
        > ul[role=traits] {
          margin-top: 18px;
          > li {
              color: white;
              text-transform: uppercase;
              font-size: 10px;
              line-height: 12px;
              vertical-align: middle;
              text-align: center;
              background: rgb(207,211,215);
              padding: 1px 4px 1px 4px;
              border-radius: 2px;
          }
        }
      }
    }

    > header > div[role=summary] > ul {
        display: block;
        margin: 0px;
        cursor: default;
    }

    > header > div[role=summary] > ul > li {
        display: inline-block;
        margin-left: 4px;
        list-style: none;
    }

    > header > div[role=summary] > ul[role=traits] {
        margin-top: 18px;
    }

    > header > div[role=summary] > ul[role=traits] > li {
        color: white;
        text-transform: uppercase;
        font-size: 10px;
        line-height: 12px;
        vertical-align: middle;
        text-align: center;
        background: rgb(207,211,215);
        padding: 1px 4px 1px 4px;
        border-radius: 2px;
    }

    > header > div[role=summary] > ul[role=operations] {
        margin-top: 10px;
    }

    > header > div[role=summary] > ul[role=operations] > li {
        text-transform: uppercase;
        font-size: 11px;
        line-height: 13px;
        vertical-align: middle;
        text-align: center;
        padding: 1px 2px 0px 2px;
        border-radius: 2px;
        width: auto;
        height: auto;
        transition: max-width 0.4s ease-in;
        position: relative;
    }

    > header > div[role=summary] > ul[role=operations] > li > a {
        color: inherit;
        line-height: inherit;
        vertical-align: inherit;
        text-align: inherit;
    }

    > header > div[role=summary] > ul[role=operations] > li:after {
        background: transparent;
        content: "";
        height: 4px;
        width: 2px;
        position: absolute;
        top: 50%;
        right: -2px;
        margin-top: -2px;
        display: block;
    }

    > header > div[role=summary] > ul[role=operations] > li:before {
        background: transparent;
        content: "";
        height: 4px;
        width: 2px;
        position: absolute;
        top: 50%;
        left: -2px;
        margin-top: -2px;
        display: block;
    }

    &:not(.active) > header > div[role=summary] > ul[role=operations] > li {
        color: transparent;
        max-width: 8px;
    }

    &:not(.active):hover > header > div[role=summary] > ul[role=operations] > li {
        color: white;
        max-width: 80px;
    }
    
    > header > div[role=summary] > ul[role=operations] > li,
    > header > div[role=summary] > ul[role=operations] > li:after,
    > header > div[role=summary] > ul[role=operations] > li:before {
      background: @unknown-inactive-color;
    }
    
    &:hover > header > div[role=summary] > ul[role=operations] > li,
    &:hover > header > div[role=summary] > ul[role=operations] > li:after,
    &:hover > header > div[role=summary] > ul[role=operations] > li:before {
        background: @unknown-color;
    }
    
    > header > div[role=summary] > ul[role=operations] > li[role=get],
    > header > div[role=summary] > ul[role=operations] > li[role=get]:after,
    > header > div[role=summary] > ul[role=operations] > li[role=get]:before {
        background: @get-inactive-color;
    }

    &:hover > header > div[role=summary] > ul[role=operations] > li[role=get],
    &:hover > header > div[role=summary] > ul[role=operations] > li[role=get]:after,
    &:hover > header > div[role=summary] > ul[role=operations] > li[role=get]:before {
        background: @get-color;
    }

    > header > div[role=summary] > ul[role=operations] > li[role=post],
    > header > div[role=summary] > ul[role=operations] > li[role=post]:after,
    > header > div[role=summary] > ul[role=operations] > li[role=post]:before {
        background: @post-inactive-color;
    }

    &:hover > header > div[role=summary] > ul[role=operations] > li[role=post],
    &:hover > header > div[role=summary] > ul[role=operations] > li[role=post]:after,
    &:hover > header > div[role=summary] > ul[role=operations] > li[role=post]:before {
        background: @post-color;
    }

    > header > div[role=summary] > ul[role=operations] > li[role=put],
    > header > div[role=summary] > ul[role=operations] > li[role=put]:after,
    > header > div[role=summary] > ul[role=operations] > li[role=put]:before {
        background: @put-inactive-color;
    }

    &:hover > header > div[role=summary] > ul[role=operations] > li[role=put],
    &:hover > header > div[role=summary] > ul[role=operations] > li[role=put]:after,
    &:hover > header > div[role=summary] > ul[role=operations] > li[role=put]:before {
        background: @put-color;
    }

    > header > div[role=summary] > ul[role=operations] > li[role=delete],
    > header > div[role=summary] > ul[role=operations] > li[role=delete]:after,
    > header > div[role=summary] > ul[role=operations] > li[role=delete]:before {
        background: @delete-inactive-color;
    }

    &:hover > header > div[role=summary] > ul[role=operations] > li[role=delete],
    &:hover > header > div[role=summary] > ul[role=operations] > li[role=delete]:after,
    &:hover > header > div[role=summary] > ul[role=operations] > li[role=delete]:before {
        background: @delete-color;
    }

    > header > div[role=summary] > ul[role=operations] > li[role=patch],
    > header > div[role=summary] > ul[role=operations] > li[role=patch]:after,
    > header > div[role=summary] > ul[role=operations] > li[role=patch]:before {
        background: @patch-inactive-color;
    }

    &:hover > header > div[role=summary] > ul[role=operations] > li[role=patch],
    &:hover > header > div[role=summary] > ul[role=operations] > li[role=patch]:after,
    &:hover > header > div[role=summary] > ul[role=operations] > li[role=patch]:before {
        background: @patch-color;
    }

    > header > div[role=summary] > ul[role=operations] > li[role=options],
    > header > div[role=summary] > ul[role=operations] > li[role=options]:after,
    > header > div[role=summary] > ul[role=operations] > li[role=options]:before {
        background: @options-inactive-color;
    }

    &:hover > header > div[role=summary] > ul[role=operations] > li[role=options],
    &:hover > header > div[role=summary] > ul[role=operations] > li[role=options]:after,
    &:hover > header > div[role=summary] > ul[role=operations] > li[role=options]:before {
        background: @options-color;
    }

    > header > div[role=summary] > ul[role=operations] > li[role=head],
    > header > div[role=summary] > ul[role=operations] > li[role=head]:after,
    > header > div[role=summary] > ul[role=operations] > li[role=head]:before {
        background: @head-inactive-color;
    }

    &:hover > header > div[role=summary] > ul[role=operations] > li[role=head],
    &:hover > header > div[role=summary] > ul[role=operations] > li[role=head]:after,
    &:hover > header > div[role=summary] > ul[role=operations] > li[role=head]:before {
        background: @head-color;
    }

    > header > div[role=summary] > ul[role=operations] > li:nth-of-type(1):before,
    &:hover > header > div[role=summary] > ul[role=operations] > li:nth-of-type(1):before {
        background: transparent;
    }

    > header > div[role=summary] > ul[role=operations] > li:last-of-type:after,
    &:hover > header > div[role=summary] > ul[role=operations] > li:last-of-type:after {
        background: transparent;
    }

    > section[role=api-operation-details] {
        display: none;
    }

    /* api-operation hover */

    &:hover {
        border-left: 1px solid rgb(64,205,93);
    }

    &:hover > header h1 {
        color: rgb(50,137,202);
    }

    &:hover > header h2 {
        color: rgb(51,55,59);
    }

    /* api-operation active */

    &.active,
    &.active:hover {
        border: 1px solid rgb(62,80,90);
        transition: max-height 0.5s;
        max-height: 2000px;
    }

    &.active > header,
    &.active:hover > header {
        background: rgb(62,80,90);
        transition: background 0.1s;
    }

    &.active > header h1,
    &.active:hover > header h1 {
        color: white;
    }

    &.active > header h2,
    &.active:hover > header h2 {
        color: white;
    }

    &.active > header > div[role=summary] > ul[role=traits],
    &.active:hover > header > div[role=summary] > ul[role=traits] {
        display: none;
    }

    &.active > header > div[role=summary] > ul[role=operations],
    &.active:hover > header > div[role=summary] > ul[role=operations] {
        margin-top: 19px;
        cursor: pointer;
    }

    &.active > header > div[role=summary] > ul[role=operations] > li,
    &.active:hover > header > div[role=summary] > ul[role=operations] > li {
        margin: 0px;
        width: auto;
        padding: 10px 20px;
        border-radius: 0px;
        border-top: 1px solid rgb(59,69,78);
        border-bottom: 1px solid rgb(59,69,78);
        border-left: 1px solid rgb(59,69,78);
        color: rgb(207,220,220);
        background: rgb(103,112,122);
        transition: none;
        position: relative;

        &:hover {
          transition: all ease-in 0.1s;
          text-shadow: white 0em 0em 0.2em;
          border-top: 1px solid white;
          &[role=get] {
            border-top: 1px solid @get-inactive-color;
            text-shadow: @get-color 0em 0em 0.2em;
          }
          &[role=post] {
            border-top: 1px solid @post-inactive-color;
            text-shadow: @post-color 0em 0em 0.2em;
          }
          &[role=put] {
            border-top: 1px solid @put-inactive-color;
            text-shadow: @put-color 0em 0em 0.2em;
          }
          &[role=delete] {
            border-top: 1px solid @delete-inactive-color;
            text-shadow: @delete-color 0em 0em 0.2em;
          }
          &[role=patch] {
            border-top: 1px solid @patch-inactive-color;
            text-shadow: @patch-color 0em 0em 0.2em;
          }
          &[role=options] {
            border-top: 1px solid @options-inactive-color;
            text-shadow: @options-color 0em 0em 0.2em;
          }
          &[role=head] {
            border-top: 1px solid @head-inactive-color;
            text-shadow: @head-color 0em 0em 0.2em;
          }
        }
    }

    &.active > header > div[role=summary] > ul[role=operations] > li > a,
    &.active:hover > header > div[role=summary] > ul[role=operations] > li > a {
        line-height: 0px;
    }

    &.active > header > div[role=summary] > ul[role=operations] > li.active,
    &.active:hover > header > div[role=summary] > ul[role=operations] > li.active {
        color: white;
        font-weight: bolder;
        transition: background 0.5s;
        background: rgb(103,112,122);
        &[role=get] {
          background: @get-inactive-color;
        }
        &[role=post] {
          background: @post-inactive-color;
        }
        &[role=put] {
          background: @put-inactive-color;
        }
        &[role=delete] {
          background: @delete-inactive-color;
        }
        &[role=patch] {
          background: @patch-inactive-color;
        }
        &[role=options] {
          background: @options-inactive-color;
        }
        &[role=head] {
          background: @head-inactive-color;
        }
    }

    &.active > header > div[role=summary] > ul[role=operations] > li.active:after,
    &.active:hover > header > div[role=summary] > ul[role=operations] > li.active:after {
        content: "";
        display: block;
        background: white;
        position: absolute;
        bottom: -28px;
        top: auto;
        right: 50%;
        width: 12px;
        height: 8px;
        margin-right: -13px;
        border-radius: 12px 0 0 0;
    }

    &.active > header > div[role=summary] > ul[role=operations] > li.active:before,
    &.active:hover > header > div[role=summary] > ul[role=operations] > li.active:before {
        content: "";
        display: block;
        background: white;
        position: absolute;
        bottom: -28px;
        top: auto;
        left: 50%;
        width: 12px;
        height: 8px;
        margin-left: -12px;
        border-radius: 0 12px 0 0;
        z-index: 1;
    }

    &.active > header > div[role=summary] > ul[role=operations] > li.active > a:after,
    &.active > header > div[role=summary] > ul[role=operations] > li.active > span:after,
    &.active > header > div[role=summary] > ul[role=operations] > li.active > p:after {
        content: "";
        display: block;
        background: rgb(62,80,90);
        position: absolute;
        bottom: -28px;
        right: 50%;
        width: 20px;
        height: 14px;
        margin-right: -10px;
        z-index: 0;
    }

    &.active > header > div[role=summary] > ul[role=operations] > li:nth-of-type(1),
    &.active:hover > header > div[role=summary] > ul[role=operations] > li:nth-of-type(1) {
        border-radius: 3px 0px 0px 3px;
    }

    &.active > header > div[role=summary] > ul[role=operations] > li:last-of-type,
    &.active:hover > header > div[role=summary] > ul[role=operations] > li:last-of-type {
        border-radius: 0px 3px 3px 0px;
        border-right: 1px solid rgb(59,69,78);
    }

    &.active > header > div[role=summary] > ul[role=operations] > li:before,
    &.active:hover > header > div[role=summary] > ul[role=operations] > li:before,
    &.active > header > div[role=summary] > ul[role=operations] > li:after,
    &.active:hover > header > div[role=summary] > ul[role=operations] > li:after {
        width: 0px;
        height: 0px;
    }

    &.active,
    &.active:hover {
        padding: 0px;
    }

    &.active > header > hgroup,
    &.active:hover > header >  hgroup {
        padding: 15px 20px 0px 20px;
    }

    /*
    > api-operation-details,
    &:hover > api-operation-details {
        display: none;
    }
    */

    &.active > api-operation-details,
    &.active:hover > api-operation-details {
        display: block;
    }

}

@media (max-width: @responsive-switch) {
//@media (max-width: 0px) {

  section[role=api-console] > header > ng-include > header {
    width: 100%;
  }

  aside[role=sidebar] {
    float: left;
    clear: right;
    min-height: 0;
    width: 100%;
  }

  body {

  }
  section[role=api-operation-list] {
    padding: 0px;
  }

  section[role=main] {
    float: left;
    width: 100%;
    overflow: hidden;
  }

  section[role=api-console] {
    width: 100%;
  }
  section[role=api-operation] {
    display: block;
    border: 1px solid rgb(218,220,221);
    max-height: 45px;
    color: black;
    background: white;
    padding: 15px 20px;
    position: relative;
    margin: 0px;
    margin-top: -1px;
    transition: max-height 0.05s;
  }
  aside[role=sidebar] h1 {
    float: left;
    display: block;
    text-transform: none;
    font: inherit;
    color: black;
    text-shadow: 0px 0px 0px;
    padding: 10px 20px;
  }
  aside[role=sidebar] h1:after {
    content: ':';
  }
  aside[role=sidebar] ul > li,
  aside[role=sidebar] ul > li.active {
    float: left;
    display: block;
    border-bottom: none;
    a {
      text-decoration: underline;
    }
  
  }
}
