.tab-pane {
  padding: 20px;
}

#raml-console-api-title {
  float: left;
  font-size: 20px;
  line-height: 1em;
  margin: 20px 0;
}

#raml-console-api-reference {
  section:first-of-type {
    > h4, > h5, > h6 {
      margin-top: 0;
    }
  }

  h4, h5, legend {
    font-weight: 700;
    line-height: 1.15em;
  }

  h4, legend {
    font-size: 18px;
    margin-bottom: 5px;
  }

  h4 {
    margin-top: 25px;
  }

  h5 {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 5px;
  }

  h6 {
    font-size: 11.9px;
  }

  .resourceGroup {
    margin-bottom: 20px;
  }
}

#raml-console-main-nav {
  float: right;
  margin-right: 10px;
  margin-top: 13px;
}

#raml-console-content {
  clear: both;
}

ul[role=traits] {
  float: right;
  li {
    display: inline-block;
    color: #9FD769;
    font-style: italic;
    font-weight: lighter;
    line-height: 20px;

    &:after {
      content: ",";
      padding-right: 0.33em;
    }

    &:last-child:after {
      content: "";
    }
  }

}

.try-it {
  .clearfix;

  form {
    margin-bottom: 0;

    .media-types {
      text-align: right;
    }

    textarea[name=body] {
      .box-sizing(border-box);
      width: 100%;
      font-family: monospace;
      height: 7em;
    }

    fieldset:first-of-type {
      margin-top: 0;
    }

    fieldset {
      margin-top: 10px;
    }

    legend {
      margin-bottom: 0;
    }

    .authentication {
      fieldset {
        margin-top: 0;
      }
    }

    .request-body {
      margin-top: -5px;
    }

    .form-actions {

      .icon-spinner {
        color: #1998C6;
        margin-right: 10px;
        vertical-align: middle;
      }

      float: right;
    }

    .clearfix
  }


  .response {
    color: #333;
    padding: 0 25px 15px;

    .response-value {
      font-family: monospace;
    }
  }
}

input.warning {
  border-color: #c09853;
}

input.error {
  border-color: #b94a48;
}

[role=documentation] {
  padding: 20px;

  h2 i[class^="icon-"] {
    line-height: 40px;
    vertical-align: baseline;
  }

  [role=documentation-requests], [role=documentation-responses] {
    > div {
      margin-top: 30px;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.code {
  border: 1px solid #CDCDCC;
  padding: 10px;
}
