.resource {
  background-color: @veryLightGray;
  border-radius: 5px;
  border: 1px solid @lightGray;
  padding: 0px;
  margin: 5px 0;

  &.collapsed:hover, &.expanded {
    background-color: white;
  }

  .summary {
    position: relative;
    cursor: pointer;

    .path {
      float: left;
      margin: 10px 0 10px 15px;

      span:last-child {
        font-weight: bold;
        color: @black;
      }
    }

    .clearfix();
  }

  .description {
    margin-left: 15px;

    p:first-child {
      margin: 10px 0 20px 0;
    }
  }

  .methods {
    float: right;
    text-align: right;
    margin: 10px;

    li {
      float: right;
      line-height: 24px;
      margin-right: 5px;
    }
  }
}

ul.modifiers {
  font-size: 0px; // ignore whitespace around inline-block elements below
  margin-left: 15px;

  li {
    display: inline-block;
    font-family: @monospace;
    font-size: 11px;
    padding: 0px 6px;
    margin-top: 1px;
    margin-right: 1px;
    line-height: 18px;

    &.resource-type {
      background-color: @gray;
      color: @veryLightGray;
    }

    &.trait {
      background-color: @grayD;
      color: @gray9;
    }
  }
}
