.try-it {
  .clearfix;

  form {
    margin-bottom: 0;

    .media-types {
      text-align: right;
    }

    input.warning {
      border-color: @mustard;
    }

    input.error {
      border-color: @red;
    }

    textarea[name=body] {
      .box-sizing(border-box);
      width: 100%;
      font-family: monospace;
      height: 7em;
    }

    fieldset:first-of-type {
      margin-top: 0;
    }

    fieldset {
      margin-top: 10px;
    }

    legend {
      margin-bottom: 0;
    }

    .uri {
      display: block;
      div {
        display: inline;
      }
    }

    .authentication {
      fieldset {
        margin-top: 0;
      }
    }

    .request-body {
      margin-top: -5px;
    }

    .form-actions {
      float: right;

      .icon-spinner {
        color: #1998C6;
        margin-right: 10px;
        vertical-align: middle;
      }

      .error {
        display: inline;
        color: @red;
        margin-right: 10px;
      }
    }

    .clearfix
  }

  .response {
    color: #333;
    padding: 0 25px 15px;

    .response-value {
      font-family: monospace;
    }
  }
}
