<div class="raml-console-sidebar-row">
  <p class="raml-console-sidebar-input-container">
    <label for="clientId" class="raml-console-sidebar-label">Authorization Grant</label>
    <select class="raml-console-sidebar-input" ng-model="credentials.grant">
     <option ng-repeat="grant in grants" value="{{grant.value}}" ng-selected="grant.value=='token'">{{grant.label}}</option>
    </select>
  </p>

  <p class="raml-console-sidebar-input-container">
    <label for="clientId" class="raml-console-sidebar-label">Client ID <span class="raml-console-side-bar-required-field">*</span></label>
    <input required="true" type="text" name="clientId" class="raml-console-sidebar-input raml-console-sidebar-security-field" ng-model="credentials.clientId" ng-change="onChange()"/>
    <span class="raml-console-field-validation-error"></span>
  </p>

  <p class="raml-console-sidebar-input-container" ng-if="!isImplicitEnabled()">
    <label for="clientSecret" class="raml-console-sidebar-label">Client Secret <span class="raml-console-side-bar-required-field">*</span></label>
    <input required="true" type="password" name="clientSecret" class="raml-console-sidebar-input raml-console-sidebar-security-field" ng-model="credentials.clientSecret" ng-change="onChange()"/>
    <span class="raml-console-field-validation-error"></span>
  </p>

  <p class="raml-console-sidebar-input-container" ng-if="ownerOptionsEnabled()">
    <label for="username" class="raml-console-sidebar-label">Username <span class="raml-console-side-bar-required-field">*</span></label>
    <input required="true" type="text" name="username" class="raml-console-sidebar-input raml-console-sidebar-security-field" ng-model="credentials.username" ng-change="onChange()"/>
    <span class="raml-console-field-validation-error"></span>
  </p>

  <p class="raml-console-sidebar-input-container" ng-if="ownerOptionsEnabled()">
    <label for="password" class="raml-console-sidebar-label">Password <span class="raml-console-side-bar-required-field">*</span></label>
    <input required="true" type="password" name="password" class="raml-console-sidebar-input raml-console-sidebar-security-field" ng-model="credentials.password" ng-change="onChange()"/>
    <span class="raml-console-field-validation-error"></span>
  </p>

  <p class="raml-console-sidebar-input-container">
    <label for="password" class="raml-console-sidebar-label">Scopes</label>
    <ol class="raml-console-sidebar-oauth-scopes">
      <li ng-repeat="scope in scopes">
        <input type="checkbox" ng-model="credentials.scopes[scope]"> {{scope}}
      </li>
    </ol>
  </p>
</div>
