<div class="sidebar-row">
  <p class="sidebar-input-container">
    <label for="clientId" class="sidebar-label">Client ID</label>
    <input type="text" id="clientId" class="sidebar-input sidebar-security-field" ng-model="credentials.clientId"/>
  </p>

  <p class="sidebar-input-container">
    <label for="clientSecret" class="sidebar-label">Client Secret</label>
    <input type="password" id="clientSecret" class="sidebar-input sidebar-security-field" ng-model="credentials.clientSecret"/>
  </p>
</div>
