<div class="raml-console-sidebar-row">
  <p class="raml-console-sidebar-input-container">
    <label for="consumerKey" class="raml-console-sidebar-label">Consumer Key <span class="raml-console-side-bar-required-field">*</span></label>
    <input required="true" type="text" name="consumerKey" class="raml-console-sidebar-input raml-console-sidebar-security-field" ng-model="credentials.consumerKey" ng-change="onChange()"/>
    <span class="raml-console-field-validation-error"></span>
  </p>

  <p class="raml-console-sidebar-input-container">
    <label for="consumerSecret" class="raml-console-sidebar-label">Consumer Secret <span class="raml-console-side-bar-required-field">*</span></label>
    <input required="true" type="password" name="consumerSecret" class="raml-console-sidebar-input raml-console-sidebar-security-field" ng-model="credentials.consumerSecret" ng-change="onChange()"/>
    <span class="raml-console-field-validation-error"></span>
  </p>
</div>
