<div class="sidebar-row">
  <p class="sidebar-input-container">
    <label for="consumerKey" class="sidebar-label">Consumer Key</label>
    <input type="text" id="consumerKey" class="sidebar-input sidebar-security-field" ng-model="credentials.consumerKey"/>
  </p>

  <p class="sidebar-input-container">
    <label for="consumerSecret" class="sidebar-label">Consumer Secret</label>
    <input type="password" id="consumerSecret" class="sidebar-input sidebar-security-field" ng-model="credentials.consumerSecret"/>
  </p>
</div>
