<div class="sidebar-row">
  <p class="sidebar-input-container">
    <label for="consumerKey" class="sidebar-label">Consumer Key <span class="side-bar-required-field">*</span></label>
    <input required="true" type="text" name="consumerKey" class="sidebar-input sidebar-security-field" ng-model="credentials.consumerKey"/>
    <span class="field-validation-error"></span>
  </p>

  <p class="sidebar-input-container">
    <label for="consumerSecret" class="sidebar-label">Consumer Secret <span class="side-bar-required-field">*</span></label>
    <input required="true" type="password" name="consumerSecret" class="sidebar-input sidebar-security-field" ng-model="credentials.consumerSecret"/>
    <span class="field-validation-error"></span>
  </p>
</div>
