<!doctype html>
<html>
  <head>
    <title>api:Console</title>

    <!-- build:css({.tmp,app}) styles/app.css -->
    <link rel="stylesheet" href="styles/app.css" type="text/css" />
    <!-- endbuild -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
  </head>
  <body ng-app="ramlConsoleApp" ng-cloak id="raml-console-unembedded">
    <raml-console-initializer id="raml-console-loader">
      <div ng-if="!consoleLoader.finished">
        <form>
          <h1>Initialize RAML Console</h1>
          <fieldset>
              <div class="control-group">
                <label for="raml_location">Enter the URL of a RAML file:</label>
                <input type="text" name='raml_location' ng-model="consoleLoader.location"/>
              </div>
          </fieldset>
          <button role='load_from_url' class="btn" ng-click="consoleLoader.load()">
            Load from URL
          </button>
          <fieldset>
              <div class="control-group">
                <label for="data">Or paste RAML in here</label>
                <textarea type="text" name='data' ng-model="consoleLoader.raml"></textarea>
              </div>
          </fieldset>
          <button role='parse_raml' class="btn" ng-click="consoleLoader.parse()">
            Load RAML
          </button>
        </form>
      </div>
    </raml-console-initializer>

    <div style="position:relative; height: 100vh; overflow: auto;">
      <raml-console with-root-documentation></raml-console>
    </div>

    <!-- build:js({.tmp,app}) scripts/vendor.js -->
    <script src="vendor/bower_components/vkbeautify/vkbeautify.js"></script>
    <script src="vendor/bower_components/angular/angular.js"></script>
    <script src="vendor/bower_components/angular-animate/angular-animate.js"></script>
    <script src="vendor/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="vendor/jquery.js"></script>
    <script src="vendor/bower_components/raml-js-parser/dist/raml-parser.js"></script>
    <script src="vendor/bower_components/crypto-js/rollups/hmac-sha1.js"></script>
    <script src="vendor/bower_components/crypto-js/components/enc-base64.js"></script>
    <script src="vendor/bower_components/showdown/src/showdown.js"></script>
    <script src="vendor/bower_components/showdown/src/extensions/table.js"></script>
    <script src="vendor/bower_components/codemirror/lib/codemirror.js"></script>
    <script src="vendor/bower_components/codemirror/mode/xml/xml.js"></script>
    <script src="vendor/bower_components/codemirror/mode/javascript/javascript.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/app.js -->
    <script src="scripts/inspector.js"></script>
    <script src="scripts/inspector/method.js"></script>
    <script src="scripts/inspector/parameterized_header.js"></script>
    <script src="scripts/client.js"></script>
    <script src="scripts/client/auth_strategies.js"></script>
    <script src="scripts/client/auth_strategies/anonymous.js"></script>
    <script src="scripts/client/auth_strategies/basic_auth.js"></script>
    <script src="scripts/client/auth_strategies/oauth1.js"></script>
    <script src="scripts/client/auth_strategies/oauth1/request_authorization.js"></script>
    <script src="scripts/client/auth_strategies/oauth1/request_temporary_credentials.js"></script>
    <script src="scripts/client/auth_strategies/oauth1/request_token_credentials.js"></script>
    <script src="scripts/client/auth_strategies/oauth1/signer.js"></script>
    <script src="scripts/client/auth_strategies/oauth1/signer/hmac.js"></script>
    <script src="scripts/client/auth_strategies/oauth1/signer/plaintext.js"></script>
    <script src="scripts/client/auth_strategies/oauth2.js"></script>
    <script src="scripts/client/auth_strategies/oauth2/create_token.js"></script>
    <script src="scripts/client/auth_strategies/oauth2/credentials_manager.js"></script>
    <script src="scripts/client/auth_strategies/oauth2/grant.js"></script>
    <script src="scripts/client/auth_strategies/oauth2/request_access_token.js"></script>
    <script src="scripts/client/auth_strategies/oauth2/request_authorization.js"></script>
    <script src="scripts/client/auth_strategies/oauth2/token.js"></script>
    <script src="scripts/client/parameterized_string.js"></script>
    <script src="scripts/client/path_builder.js"></script>
    <script src="scripts/client/request.js"></script>
    <script src="scripts/client/validator.js"></script>
    <script src="scripts/controllers.js"></script>
    <script src="scripts/controllers/body_documentation.js"></script>
    <script src="scripts/controllers/documentation.js"></script>
    <script src="scripts/controllers/named_parameters_documentation.js"></script>
    <script src="scripts/controllers/raml_console.js"></script>
    <script src="scripts/controllers/resource.js"></script>
    <script src="scripts/controllers/tabset.js"></script>
    <script src="scripts/controllers/toggle.js"></script>
    <script src="scripts/controllers/try_it.js"></script>
    <script src="scripts/controllers/try_it/body_content.js"></script>
    <script src="scripts/controllers/try_it/body_type.js"></script>
    <script src="scripts/controllers/try_it/context.js"></script>
    <script src="scripts/controllers/try_it/named_parameter.js"></script>
    <script src="scripts/controllers/try_it/named_parameters.js"></script>
    <script src="scripts/directives.js"></script>
    <script src="scripts/directives/api_resources.js"></script>
    <script src="scripts/directives/basic_auth.js"></script>
    <script src="scripts/directives/body_content.js"></script>
    <script src="scripts/directives/body_documentation.js"></script>
    <script src="scripts/directives/code_mirror.js"></script>
    <script src="scripts/directives/collapsible.js"></script>
    <script src="scripts/directives/documentation.js"></script>
    <script src="scripts/directives/enum.js"></script>
    <script src="scripts/directives/input.js"></script>
    <script src="scripts/directives/markdown.js"></script>
    <script src="scripts/directives/method.js"></script>
    <script src="scripts/directives/named_parameters.js"></script>
    <script src="scripts/directives/named_parameters_documentation.js"></script>
    <script src="scripts/directives/oauth1.js"></script>
    <script src="scripts/directives/oauth2.js"></script>
    <script src="scripts/directives/parameter_field.js"></script>
    <script src="scripts/directives/parameter_fields.js"></script>
    <script src="scripts/directives/parameterized_parameter.js"></script>
    <script src="scripts/directives/raml_console.js"></script>
    <script src="scripts/directives/raml_console_initializer.js"></script>
    <script src="scripts/directives/resource.js"></script>
    <script src="scripts/directives/resource_documentation.js"></script>
    <script src="scripts/directives/repeatable.js"></script>
    <script src="scripts/directives/repeatable_add.js"></script>
    <script src="scripts/directives/repeatable_remove.js"></script>
    <script src="scripts/directives/responses.js"></script>
    <script src="scripts/directives/root_documentation.js"></script>
    <script src="scripts/directives/security_schemes.js"></script>
    <script src="scripts/directives/tabs.js"></script>
    <script src="scripts/directives/toggle.js"></script>
    <script src="scripts/directives/try_it.js"></script>
    <script src="scripts/directives/validated_input.js"></script>
    <script src="scripts/filters.js"></script>
    <script src="scripts/filters/name_from_parameterizable.js"></script>
    <script src="scripts/filters/yes_no.js"></script>
    <script src="scripts/services.js"></script>
    <script src="scripts/services/config.js"></script>
    <script src="scripts/services/data_store.js"></script>
    <script src="scripts/services/raml_parser_wrapper.js"></script>
    <script src="scripts/settings.js"></script>
    <script src="scripts/utils.js"></script>
    <script src="scripts/raml.js"></script>
    <script src="scripts/raml_console.js"></script>
    <!-- endbuild -->

    <script>
      RAML.Settings.proxy = '/proxy/';
    </script>
  </body>
</html>
