<element name="api-operation-details-section-try-it" attributes="resource method">
  <template>
    <style></style>
    <section role="api-operation-details-section-try-it">
      <section>
        <a href="#" on-click="tryIt">Try It!</a>
      </section>
      <section role="request">
          <header>
              <h1>Request</h1>
              <ul role="type">
                  <li>JSON</li>
                  <li>XML</li>
                  <li>JSONP</li>
              </ul>
          </header>
          <div role="basic-params">
              <h2>Basic parameters</h2>
              <div role="uri">
                <template repeat="{{part in urlParts}}">
                  <template if="{{part.isTemplate}}">
                    /<input type="text" placeholder="{{part.name}}" value="{{ part.value }}">
                  </template>
                  <template if="{{!part.isTemplate}}">
                    /<span>{{part.name}}</span>
                  </template>
                </template>
              </div>
          </div>
          <div id="aditionalParams" role="additional-params">
              <h2>Additional parameters</h2>
              <div role="query-params"></div>
              <template repeat="{{queryParam in methodInfo.query}}">
                  <span>{{queryParam.name}}</span>
                  <input type="text" placeholder="{{queryParam.example}}">
              </template>

              <template if="{{method == 'POST'}}">
                <div id="requestBody" role="request-body"><textarea></textarea></div>
              </template>
          </div>
      </section>
      <section role="response">
          <header>
              <h1>Response</h1>
          </header>
          <div role="request-uri">
              <h2>Request URL</h2>
              <span>{{model.response.url}}</span>
          </div>
          <div role="response-code">
              <h2>Response code</h2>
              <span>{{model.response.statusCode}}</span>
          </div>
          <div role="response-headers">
              <h2>Response headers</h2>
              {{model.response.headers}}
          </div>
          <div role="response-body">
              <h2>Response body</h2>
              <code>
              {{model.response.body}}
              </code>
          </div>
      </section>
    </section>
  </template>
  <script></script>
</element>