<element name="api-operation-details-section-try-it" attributes="resource method">
  <template>
    <style></style>
    <section role="api-operation-details-section-try-it">
      <section role="request">
          <header>
              <h1>Request</h1>
              <ul role="type">
                  <li>JSON</li>
                  <li>XML</li>
                  <li>JSONP</li>
              </ul>
          </header>
          <div role="uri-params">
              <h2>Resource Uri</h2>
              <div role="uri">
                <template repeat="{{part in urlParts}}">
                  <template if="{{part.isTemplate}}">
                    /<input type="text" placeholder="{{part.name}}" value="{{ part.value }}">
                  </template>
                  <template if="{{!part.isTemplate}}">
                    /<span>{{part.name}}</span>
                  </template>
                </template>
              </div>
          </div>
          <div role="additional-params">
              <div role="query-params">
                <h2>Additional parameters</h2>
                <div role="params">
                  <template repeat="{{queryParam in methodInfo.query}}">
                    <label>{{queryParam.name}}
                      <input type="text" placeholder="{{queryParam.example}}">
                    </label>
                  </template>
                </div>
              </div>
              <div role="request-body"><textarea></textarea></div>
          </div>
          <div role="try-it">
            <a href="#" on-click="tryIt">Try It!</a>
          </div>
      </section>
      <section role="response">
          <header>
              <h1>Response</h1>
          </header>
          <div role="request-uri">
              <h2>Request URL</h2>
              <span>http://www.api.com/consumers?this=is&a=test</span>
          </div>
          <div role="response-code">
              <h2>Response code</h2>
              <span>200</span>
          </div>
          <div role="response-headers">
              <h2>Response headers</h2>
              <span>Date: Thu, 16 Dic 1976 09:00:00 GMT-03:00</span><br>
              <span>Via: 1.1 varnish</span><br>
              <span>Age: 0</span><br>
          </div>
          <div role="response-body">
              <h2>Response body</h2>
              <code>
              {
                  consumers: [
                      {
                          name: 'test'
                      }
                  ]
              }
              </code>
          </div>
      </section>
    </section>
  </template>
  <script></script>
</element>
