<element name="api-operation-details-section-try-it" attributes="resource method">
  <template>
    <style></style>
    <section role="api-operation-details-section-try-it">
      <section role="request" id="request">
        <header>
            <h1>Request</h1>
            <ul role="type">
                <li>JSON</li>
                <li>XML</li>
                <li>JSONP</li>
            </ul>
        </header>
        <div role="uri-params">
          <h2>Resource Uri</h2>
          <div role="uri">
            <template repeat="{{part in urlParts}}">
              <template if="{{part.isTemplate}}">
                /&nbsp;<input type="text" placeholder="{{part.name}}" value="{{ part.value }}">&nbsp;
              </template>
              <template if="{{!part.isTemplate}}">
                /&nbsp;<span>{{part.name}}</span>
              </template>
            </template>
          </div>
        </div>
        <template id="additionalParams" if="{{methodInfo.query.length || method == 'POST' || method == 'PUT'}}">
          <div role="additional-params">
            <div role="query-params">
              <h2>Additional parameters</h2>
              <template if="{{methodInfo.query.length}}">
                <div role="params">
                  <template repeat="{{queryParam in methodInfo.query}}">
                    <label>{{queryParam.name}}
                      <input type="text" placeholder="{{queryParam.example}}" value="{{queryParam.value}}">
                    </label>
                  </template>
                </div>
              </template>
            </div>
            <template id="requestBody" if="{{method == 'POST' || method == 'PUT'}}">
              <div role="request-body">
                <label>Body
                  <textarea value="{{model.request.body}}"></textarea>
                </label>
              </div>
            </template>
          </div>
        </template>
        <div role="try-it">
          <span on-click="tryIt">Try It!</span>
        </div>
      </section>
      <section role="response" id="response">
          <header>
              <h1>Response</h1>
          </header>
          <section role="request-uri">
              <h1>Request URL</h1>
              <p>{{model.response.url}}</p>
          </section>
          <section role="response-code">
              <h1>Response code</h1>
              <p>{{model.response.statusCode}}</p>
          </section>
          <section role="response-headers">
              <h1>Response headers</h1>
              <p>{{model.response.headers}}</p>
          </section>
          <section role="response-body">
              <h1>Response body</h1>
              <p>
                <codemirror source="{{model.response.body}}"></codemirror>
              </p>
          </section>

      </section>
    </section>
  </template>
  <script></script>
</element>
