<section role="api-operation" ng-class="{active:active, first:$first, last:$last}" ng-controller="ramlOperation">
  <header id="operationHeader" ng-click="headerClick()">
    <hgroup>
      <h2><span ng-show="resource.parentUri">{{resource.parentUri}}&nbsp;</span><strong>{{resource.localUri || resource.relativeUri}}</strong></h2>
      <h1 ng-show="resource.resourceType">Type: <strong>{{resource.resourceType}}</strong></h1>
    </hgroup>
    <div role="summary">
      <ul role="traits">
        <li ng-repeat="trait in resource.traits">{{trait.displayName}}</li>
      </ul>
      <ul role="operations">
        <li role="{{key}}" ng-repeat="(key, value) in resource.methods" ng-class="{active:isMethodActive(key)}" ng-click="changeMethod(key); $event.stopPropagation()">
          <span>{{key}}</span>
        </li>
      </ul>
    </div>
  </header>
  <ng-include src="'views/raml-operation-details.tmpl.html'"></ng-include>
</scection>