<section role="documentation" ng-if="{documentation.length}">
  <header>
    <h1>Overview</h1>
  </header>
  <ul role="documentation" ng-repeat="document in documentation">
    <li ng-class="{active : $first}">
      <a href="#">{{document.title}}</a>
    </li>
  </ul>
</section>
<section role="resources" ng-if="{resources.length}">
  <header>
    <h1>Api Reference</h1>
  </header>
  <ul ng-repeat="resource in resources">
    <li>
      <a href="#">{{resource.name}}</a>
    </li>
  </ul>
</section>