section,
aside {
  font-family: 'Ubuntu', sans-serif;
}
a,
a:visited {
  color: #07c;
  text-decoration: none;
  outline: 0;
}
a:hover,
a:focus {
  color: #000;
}
p a,
p a:visited {
  line-height: inherit;
}
/*
header {
    height: 60px;
    display: block;
    color: white;
    background: rgb(54,70,85);
    width: 960px;
}

header > h1 {
    display: inline-block;
    margin: 0px;
    height: 100%;
    width: 150px;
    font-weight: 200;
    vertical-align: middle;
    line-height: 60px;
    font-size: 22px;
    background: rgb(39,55,70);
    padding: 0px 20px;
    border-right: 1px solid rgb(41,49,55);
}

header > h1 > em {
    font-style: normal;
    font-weight: bold;
}

header > span {
    padding-left: 20px;
    font-size: 19px;
    vertical-align: middle;
}*/
/*

h1 {
    color: rgb(159,163,166);
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px white;
    margin: 0px;
    padding: 25px 20px 10px 20px;
}

ul {
    margin: 0px;
    padding-left: 0px;
}

ul > li {
    list-style: none;
    font-size: 14px;
    padding: 10px 20px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

ul > li > a, ul > li > a:visited {
    color: black;
}

ul > li.active {
    background: rgb(251,251,252);
    border-top: 1px solid rgb(218,220,221);
    border-bottom: 1px solid rgb(218,220,221);
}

ul > li.active > a, ul > li.active > a:visited {
    color: rgb(78,137,202);
}

*/
section[role=api-console] {
  width: 960px;
}
aside[role=sidebar] {
  float: left;
  box-sizing: border-box;
  width: 190px;
  background: #eff2f4;
  border-left: 1px solid #dadcdd;
  border-right: 1px solid #dadcdd;
  min-height: 3000px;
}
section[role=main] {
  float: right;
  box-sizing: border-box;
  width: 770px;
  min-height: 3000px;
  border-right: 1px solid #dadcdd;
  background: white;
  overflow: scroll;
}
/*

div#content {
    padding: 10px 22px 22px 22px;
    font-size: 14px;
}

header {
    height: 75px;
    width: 100%;
    border-bottom: 1px solid rgb(218,220,221);
    padding: 0px;
    margin: 0px;
}

header h1 {
    font-size: 23px;
    line-height: 75px;
    font-weight: 300;
    padding: 0px;
    margin: 0px;
    margin-left: 22px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
}

*/
section[role=api-operation-details-section-try-it] > section[role=request] {
  background: white;
}
section[role=api-operation-details-section-try-it] > section[role=request] > header {
  display: block;
  background: #fbfbfb;
  height: 60px;
}
section[role=api-operation-details-section-try-it] > section[role=request] > header > h1 {
  font-size: 16px;
  font-weight: normal;
  line-height: 60px;
  margin: 0px;
  padding: 0px 20px;
  color: black;
}
section[role=api-operation-details-section-try-it] > section[role=request] > header > ul {
  display: none;
}
section[role=api-operation-details-section-try-it] > section[role=request] > div[role=uri-params],
section[role=api-operation-details-section-try-it] > section[role=request] > div[role=additional-params] {
  border-top: 1px solid #dfe3e7;
}
section[role=api-operation-details-section-try-it] > section[role=request] > div[role=uri-params] > h2,
section[role=api-operation-details-section-try-it] > section[role=request] > div[role=additional-params] > div[role=query-params] > h2 {
  font-size: 15px;
  font-weight: 100;
  color: #33373b;
  line-height: 30px;
  margin: 0px;
  padding: 10px 20px 0px 20px;
}
section[role=api-operation-details-section-try-it] > section[role=request] > div[role=uri-params] > div[role=uri],
section[role=api-operation-details-section-try-it] > section[role=request] > div[role=additional-params] > div[role=query-params] > div[role=params] {
  font-size: 16px;
  font-weight: normal;
  color: black;
  line-height: 22px;
  margin: 0px;
  padding: 5px 20px 15px 20px;
}
section[role=api-operation-details-section-try-it] > section[role=request] > div[role=uri-params] > div[role=uri] > input {
  border: 0;
  border-bottom: 1px solid lightgrey;
  font-size: 14px;
  max-width: 80px;
  text-align: center;
}
section[role=api-operation-details-section-try-it] > section[role=request] > div[role=uri-params] > div[role=uri] > input:focus {
  outline: 0;
}
section[role=api-operation-details-section-try-it] > section[role=request] > div[role=additional-params] > div[role=query-params] > div[role=params] {
  padding-bottom: 10px;
}
section[role=api-operation-details-section-try-it] > section[role=request] > div[role=additional-params] > div[role=query-params] > div[role=params] > label,
section[role=api-operation-details-section-try-it] > section[role=request] > div[role=additional-params] > div[role=request-body] > label {
  display: inline-block;
  margin: 0px 10px 10px 0px;
  color: #9ea3a6;
  font-size: 13px;
}
section[role=api-operation-details-section-try-it] > section[role=request] > div[role=additional-params] > div[role=query-params] > div[role=params] > label > input,
section[role=api-operation-details-section-try-it] > section[role=request] > div[role=additional-params] > div[role=request-body] > label > textarea {
  display: block;
  border: 1px solid #dfe3e7;
  height: 35px;
  line-height: auto;
  font-size: 13px;
  padding: 0px 10px;
  margin-left: -1px;
  border-radius: 3px;
  width: 110px;
}
section[role=api-operation-details-section-try-it] > section[role=request] > div[role=additional-params] > div[role=query-params] > div[role=params] > label > input:focus,
section[role=api-operation-details-section-try-it] > section[role=request] > div[role=additional-params] > div[role=request-body] > label > textarea:focus {
  outline: 0;
  border: 1px solid lightgrey;
  box-shadow: 0px 0px 4px lightgrey;
}
section[role=api-operation-details-section-try-it] > section[role=request] > div[role=additional-params] > div[role=request-body] {
  padding: 0px 20px 15px 20px;
  display: block;
}
section[role=api-operation-details-section-try-it] > section[role=request] > div[role=additional-params] > div[role=request-body] > label {
  display: block;
  width: 100%;
  line-height: 22px;
}
section[role=api-operation-details-section-try-it] > section[role=request] > div[role=additional-params] > div[role=request-body] > label textarea {
  display: block;
  box-sizing: border-box;
  height: 120px;
  width: 100%;
}
section[role=api-operation-details-section-try-it] > section[role=request] > div[role=try-it] {
  text-align: right;
  padding: 0px 20px 40px 0px;
  font-size: 13px;
  font-weight: bold;
}
section[role=api-operation-details-section-try-it] > section[role=request] > div[role=try-it] > span {
  color: white;
  cursor: pointer;
  background: #7bd15c;
  border-radius: 3px;
  border: 1px solid #6cb750;
  padding: 10px 40px;
  box-shadow: 0px 0px 4px lightgrey;
}
section[role=api-operation-details-section-try-it] > section[role=response] {
  border-top: 1px solid #dfe3e7;
}
section[role=api-operation-details-section-try-it] > section[role=response] {
  border-top: 1px solid #dfe3e7;
}
section[role=api-operation-details-section-try-it] > section[role=response] > header {
  display: block;
  background: #fbfbfb;
  height: 60px;
}
section[role=api-operation-details-section-try-it] > section[role=response] > header > h1 {
  font-size: 16px;
  font-weight: normal;
  line-height: 60px;
  margin: 0px;
  padding: 0px 20px;
  color: black;
}
section[role=api-operation-details-section-try-it] > section[role=response] > section[role=request-uri],
section[role=api-operation-details-section-try-it] > section[role=response] > section[role=response-code],
section[role=api-operation-details-section-try-it] > section[role=response] > section[role=response-headers],
section[role=api-operation-details-section-try-it] > section[role=response] > section[role=response-body] {
  background: #f4f6f8;
  padding-bottom: 20px;
}
section[role=api-operation-details-section-try-it] > section[role=response] > section[role=request-uri] > h1,
section[role=api-operation-details-section-try-it] > section[role=response] > section[role=response-code] > h1,
section[role=api-operation-details-section-try-it] > section[role=response] > section[role=response-headers] > h1,
section[role=api-operation-details-section-try-it] > section[role=response] > section[role=response-body] > h1 {
  color: #9fa3a6;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px white;
  margin: 0px;
  padding: 20px 20px 10px 20px;
  border-top: 1px solid #dfe3e7;
}
section[role=api-operation-details-section-try-it] > section[role=response] > section[role=request-uri] > p,
section[role=api-operation-details-section-try-it] > section[role=response] > section[role=response-code] > p,
section[role=api-operation-details-section-try-it] > section[role=response] > section[role=response-headers] > p,
section[role=api-operation-details-section-try-it] > section[role=response] > section[role=response-body] > p {
  padding: 0px 20px;
  margin: 0px;
  font-family: monospace;
}
section[role=api-operation-details-section-try-it] > section[role=response] > section[role=response-body] {
  max-height: 300px;
  max-width: 723px;
  overflow: scroll;
}
section[role=api-operation-details] {
  background: white;
}
section[role=api-operation-details] > header {
  padding: 15px 20px;
}
section[role=api-operation-details] > header > h1 {
  margin: 5px 0px;
  font-size: 16px;
  font-weight: normal;
  color: #6399d6;
}
section[role=api-operation-details] > header > p {
  margin: 10px 0px;
  font-size: 13px;
  font-weight: normal;
  color: black;
}
section[role=api-operation-details] > ul[role=details-sections] {
  display: block;
  width: 100%;
  background: #f4f6f8;
  border-top: 1px solid #dfe3e7;
  border-bottom: 1px solid #dfe3e7;
  padding: 0px;
  margin: 0px;
  font-size: 0px;
  height: 60px;
  box-shadow: inset 1px -1px 1px #eeeeee;
}
section[role=api-operation-details] > ul[role=details-sections] > li {
  display: inline-block;
  list-style: none;
  text-align: left;
  vertical-align: middle;
  line-height: 60px;
  font-size: 13px;
  font-weight: bold;
}
section[role=api-operation-details] > ul[role=details-sections] > li > a,
section[role=api-operation-details] > ul[role=details-sections] > li > span {
  cursor: pointer;
  padding: 0px 20px;
  color: black;
  border-right: 1px solid #dfe3e7;
}
section[role=api-operation-details] > ul[role=details-sections] > li.active {
  background-color: #fbfbfb;
  border-top: 1px solid #0078ca;
  border-bottom: 1px solid white;
  border-right: 1px solid #dfe3e7;
  border-left: 1px solid #dfe3e7;
  margin-top: -1px;
  margin-left: -1px;
  box-shadow: 1px -1px 1px #eeeeee;
}
section[role=api-operation-details] > ul[role=details-sections] > li.active > a,
section[role=api-operation-details] > ul[role=details-sections] > li.active > span {
  border-right: none;
  color: #0078ca;
}
/*
header {
    height: 75px;
    width: 100%;
    border-bottom: 1px solid rgb(218,220,221);
    padding: 0px;
    margin: 0px;
    margin-bottom: 20px;
}

header h1 {
    font-size: 23px;
    line-height: 75px;
    font-weight: 200;
    padding: 0px;
    margin: 0px;
    margin-left: 22px;
}
*/
section[role=api-operation-list] {
  padding: 22px;
}
section[role=api-operation] {
  display: block;
  border: 1px solid #dadcdd;
  max-height: 45px;
  color: black;
  background: white;
  padding: 15px 20px;
  position: relative;
  margin: 0px;
  margin-top: -1px;
  transition: max-height 0.05s;
}
/*TODO: Add an alternative solution for rounded corners!*/
section[role=api-operation] > header {
  height: 73px;
}
section[role=api-operation] > header h1 {
  font-size: 13px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  color: black;
}
section[role=api-operation] > header h2 {
  font-size: 12px;
  font-weight: normal;
  margin: 0px;
  padding: 0px;
  margin-top: 8px;
  color: #9ea3a6;
  letter-spacing: 1px;
}
section[role=api-operation] > header > div[role=summary] {
  position: absolute;
  right: 0px;
  top: 0px;
  margin-right: 20px;
  text-align: right;
  font-size: 0px;
}
section[role=api-operation] > header > div[role=summary] > ul {
  display: block;
  margin: 0px;
  cursor: default;
}
section[role=api-operation] > header > div[role=summary] > ul > li {
  display: inline-block;
  margin-left: 4px;
  list-style: none;
}
section[role=api-operation] > header > div[role=summary] > ul[role=traits] {
  margin-top: 18px;
}
section[role=api-operation] > header > div[role=summary] > ul[role=traits] > li {
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 12px;
  vertical-align: middle;
  text-align: center;
  background: #cfd3d7;
  padding: 1px 4px 1px 4px;
  border-radius: 2px;
}
section[role=api-operation] > header > div[role=summary] > ul[role=operations] {
  margin-top: 10px;
}
section[role=api-operation] > header > div[role=summary] > ul[role=operations] > li {
  text-transform: uppercase;
  font-size: 11px;
  line-height: 13px;
  vertical-align: middle;
  text-align: center;
  padding: 1px 2px 0px 2px;
  border-radius: 2px;
  width: auto;
  height: auto;
  transition: max-width 0.4s ease-in;
  position: relative;
}
section[role=api-operation] > header > div[role=summary] > ul[role=operations] > li > a {
  color: inherit;
  line-height: inherit;
  vertical-align: inherit;
  text-align: inherit;
}
section[role=api-operation] > header > div[role=summary] > ul[role=operations] > li:after {
  background: transparent;
  content: "";
  height: 4px;
  width: 2px;
  position: absolute;
  top: 50%;
  right: -2px;
  margin-top: -2px;
  display: block;
}
section[role=api-operation] > header > div[role=summary] > ul[role=operations] > li:before {
  background: transparent;
  content: "";
  height: 4px;
  width: 2px;
  position: absolute;
  top: 50%;
  left: -2px;
  margin-top: -2px;
  display: block;
}
section[role=api-operation] > header > div[role=summary] > ul[role=operations] > li[role=get],
section[role=api-operation] > header > div[role=summary] > ul[role=operations] > li[role=get]:after,
section[role=api-operation] > header > div[role=summary] > ul[role=operations] > li[role=get]:before {
  background: #7cbce4;
}
section[role=api-operation]:hover > header > div[role=summary] > ul[role=operations] > li[role=get],
section[role=api-operation]:hover > header > div[role=summary] > ul[role=operations] > li[role=get]:after,
section[role=api-operation]:hover > header > div[role=summary] > ul[role=operations] > li[role=get]:before {
  background: #0078ca;
}
section[role=api-operation]:not(.active) > header > div[role=summary] > ul[role=operations] > li {
  color: transparent;
  max-width: 8px;
}
section[role=api-operation]:not(.active):hover > header > div[role=summary] > ul[role=operations] > li {
  color: white;
  max-width: 80px;
}
section[role=api-operation] > header > div[role=summary] > ul[role=operations] > li[role=post],
section[role=api-operation] > header > div[role=summary] > ul[role=operations] > li[role=post]:after,
section[role=api-operation] > header > div[role=summary] > ul[role=operations] > li[role=post]:before {
  background: #9ee9ab;
}
section[role=api-operation]:hover > header > div[role=summary] > ul[role=operations] > li[role=post],
section[role=api-operation]:hover > header > div[role=summary] > ul[role=operations] > li[role=post]:after,
section[role=api-operation]:hover > header > div[role=summary] > ul[role=operations] > li[role=post]:before {
  background: #41d25c;
}
section[role=api-operation] > header > div[role=summary] > ul[role=operations] > li[role=put],
section[role=api-operation] > header > div[role=summary] > ul[role=operations] > li[role=put]:after,
section[role=api-operation] > header > div[role=summary] > ul[role=operations] > li[role=put]:before {
  background: #fdc692;
}
section[role=api-operation]:hover > header > div[role=summary] > ul[role=operations] > li[role=put],
section[role=api-operation]:hover > header > div[role=summary] > ul[role=operations] > li[role=put]:after,
section[role=api-operation]:hover > header > div[role=summary] > ul[role=operations] > li[role=put]:before {
  background: #dbb51d;
}
section[role=api-operation] > header > div[role=summary] > ul[role=operations] > li[role=delete],
section[role=api-operation] > header > div[role=summary] > ul[role=operations] > li[role=delete]:after,
section[role=api-operation] > header > div[role=summary] > ul[role=operations] > li[role=delete]:before {
  background: #f78f96;
}
section[role=api-operation]:hover > header > div[role=summary] > ul[role=operations] > li[role=delete],
section[role=api-operation]:hover > header > div[role=summary] > ul[role=operations] > li[role=delete]:after,
section[role=api-operation]:hover > header > div[role=summary] > ul[role=operations] > li[role=delete]:before {
  background: #ea002f;
}
section[role=api-operation] > header > div[role=summary] > ul[role=operations] > li:nth-of-type(1):before,
section[role=api-operation]:hover > header > div[role=summary] > ul[role=operations] > li:nth-of-type(1):before {
  background: transparent;
}
section[role=api-operation] > header > div[role=summary] > ul[role=operations] > li:last-of-type:after,
section[role=api-operation]:hover > header > div[role=summary] > ul[role=operations] > li:last-of-type:after {
  background: transparent;
}
section[role=api-operation] > section[role=api-operation-details] {
  display: none;
}
/* api-operation hover */
section[role=api-operation]:hover {
  border-left: 1px solid #40cd5d;
}
section[role=api-operation]:hover > header h1 {
  color: #3289ca;
}
section[role=api-operation]:hover > header h2 {
  color: #33373b;
}
/* api-operation active */
section[role=api-operation].active,
section[role=api-operation].active:hover {
  border: 1px solid #dadcdd;
  transition: max-height 0.5s;
  max-height: 2000px;
}
section[role=api-operation].active > header,
section[role=api-operation].active:hover > header {
  background: #3e505a;
  transition: background 0.1s;
}
section[role=api-operation].active > header h1,
section[role=api-operation].active:hover > header h1 {
  color: white;
}
section[role=api-operation].active > header h2,
section[role=api-operation].active:hover > header h2 {
  color: white;
}
section[role=api-operation].active > header > div[role=summary] > ul[role=traits],
section[role=api-operation].active:hover > header > div[role=summary] > ul[role=traits] {
  display: none;
}
section[role=api-operation].active > header > div[role=summary] > ul[role=operations],
section[role=api-operation].active:hover > header > div[role=summary] > ul[role=operations] {
  margin-top: 19px;
  cursor: pointer;
}
section[role=api-operation].active > header > div[role=summary] > ul[role=operations] > li,
section[role=api-operation].active:hover > header > div[role=summary] > ul[role=operations] > li {
  margin: 0px;
  width: auto;
  padding: 10px 20px;
  border-radius: 0px;
  border-top: 1px solid #3b454e;
  border-bottom: 1px solid #3b454e;
  border-left: 1px solid #3b454e;
  color: #cfdcdc;
  background: #67707a;
  transition: none;
  position: relative;
}
section[role=api-operation].active > header > div[role=summary] > ul[role=operations] > li > a,
section[role=api-operation].active:hover > header > div[role=summary] > ul[role=operations] > li > a {
  line-height: 0px;
}
section[role=api-operation].active > header > div[role=summary] > ul[role=operations] > li.active,
section[role=api-operation].active:hover > header > div[role=summary] > ul[role=operations] > li.active {
  background: #5688c9;
  color: white;
}
section[role=api-operation].active > header > div[role=summary] > ul[role=operations] > li.active:after,
section[role=api-operation].active:hover > header > div[role=summary] > ul[role=operations] > li.active:after {
  content: "";
  display: block;
  background: white;
  position: absolute;
  bottom: -28px;
  top: auto;
  right: 50%;
  width: 12px;
  height: 8px;
  margin-right: -13px;
  border-radius: 12px 0 0 0;
}
section[role=api-operation].active > header > div[role=summary] > ul[role=operations] > li.active:before,
section[role=api-operation].active:hover > header > div[role=summary] > ul[role=operations] > li.active:before {
  content: "";
  display: block;
  background: white;
  position: absolute;
  bottom: -28px;
  top: auto;
  left: 50%;
  width: 12px;
  height: 8px;
  margin-left: -12px;
  border-radius: 0 12px 0 0;
  z-index: 1;
}
section[role=api-operation].active > header > div[role=summary] > ul[role=operations] > li.active > a:after,
section[role=api-operation].active > header > div[role=summary] > ul[role=operations] > li.active > span:after,
section[role=api-operation].active > header > div[role=summary] > ul[role=operations] > li.active > p:after {
  content: "";
  display: block;
  background: #3e505a;
  position: absolute;
  bottom: -28px;
  right: 50%;
  width: 20px;
  height: 14px;
  margin-right: -10px;
  z-index: 0;
}
section[role=api-operation].active > header > div[role=summary] > ul[role=operations] > li:nth-of-type(1),
section[role=api-operation].active:hover > header > div[role=summary] > ul[role=operations] > li:nth-of-type(1) {
  border-radius: 3px 0px 0px 3px;
}
section[role=api-operation].active > header > div[role=summary] > ul[role=operations] > li:last-of-type,
section[role=api-operation].active:hover > header > div[role=summary] > ul[role=operations] > li:last-of-type {
  border-radius: 0px 3px 3px 0px;
  border-right: 1px solid #3b454e;
}
section[role=api-operation].active > header > div[role=summary] > ul[role=operations] > li:before,
section[role=api-operation].active:hover > header > div[role=summary] > ul[role=operations] > li:before,
section[role=api-operation].active > header > div[role=summary] > ul[role=operations] > li:after,
section[role=api-operation].active:hover > header > div[role=summary] > ul[role=operations] > li:after {
  width: 0px;
  height: 0px;
}
section[role=api-operation].active,
section[role=api-operation].active:hover {
  padding: 0px;
}
section[role=api-operation].active > header > hgroup,
section[role=api-operation].active:hover > header > hgroup {
  padding: 15px 20px 0px 20px;
}
section[role=api-operation] > api-operation-details,
section[role=api-operation]:hover > api-operation-details {
  display: none;
}
section[role=api-operation].active > api-operation-details,
section[role=api-operation].active:hover > api-operation-details {
  display: block;
}
/*TODO: Add an alternative solution for rounded corners!*/
/*!
 * Preboot v2
 *
 * Open sourced under MIT license by @mdo.
 * Some variables and mixins from Bootstrap (Apache 2 license).
 */
