<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>API Console</title>
  <link href="styles/<%= grunt.config.get('pkg.name') %>-light-theme.css" rel="stylesheet" class="theme">
</head>
<body ng-app="ramlConsoleApp" ng-cloak class="raml-console-body">
  <raml-initializer></raml-initializer>
  <script src="scripts/<%= grunt.config.get('pkg.name') %>-vendor.js"></script>
  <script src="scripts/<%= grunt.config.get('pkg.name') %>.js"></script>
  <script>
    $.noConflict();
  </script>
</body>
</html>
