*, *:before, *:after {
  box-sizing: border-box;
}

.body {
  background: $color-console-bg;
  color: $color-console-text;
  font-family: $lato;
  font-size: 18px;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin-top: 0;
  }
}

.line-error {
  background: #FBC2C4 !important;
  color: #8a1f11 !important;
}

.parser-error {
  font-size: 13px;
  color: white;
  padding-left: 1px;
  word-wrap: break-word;
  background: red;
  margin-top: -1px;
  text-align: center;
  margin-bottom: 15px;
}

.initializer-input-container-error {
  margin-bottom: 0 !important;

  input {
    border: 1px solid red !important;
    margin-bottom: 0 !important;
  }
}

.embedded {
  background: $color-console-bg !important;
  color: $color-console-text;
  font-family: $lato;
  font-size: 18px;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.show-more-less {
  cursor: default;
  color: blue;
  font-size: small;
}

.root-description {
  font-size: medium;

  p {
    margin-bottom: 3px;
  }
}
