//----------------------------------------------------------------------------
// COLORS
//----------------------------------------------------------------------------

//----------------------------------------------------------------------------
// Light/Original Reference:
//----------------------------------------------------------------------------
$color-gray-light: #eee;
$color-gray: #ddd;
$color-gray-dark: #ccc;

$color-navy-dark: #2d2d30;
$color-navy: #414247;
$color-navy-light: #585961;

// pale is gray with a bluish tint I KNOW I AM RIFICULOUS
$color-pale-dark: #d6d7d9;
$color-pale: #e3e4e6;
$color-pale-light: #f3f4f5;

$color-purps: #9ea0ad;
$color-purps-dark: #888a99;

//----------------------------------------------------------------------------
// Light/Original Theming:
//----------------------------------------------------------------------------

$color-console-documentation-header: #e0e0e0;
$color-console-documentation-contents: #f5f5f5;
$color-console-response-status: #fff;
$color-editor-border: #c6cada;
$color-body-heading: #bbbbbb;
$color-toggle-all: #b7b7b7;

// console or resource path view
$color-console-bg: #eee;
$color-console-border: #ccc;
$color-console-heading-text: #333;
$color-console-toggle: #333;

$color-console-flag-bg: #e3e4e6;
$color-console-flag-border: #d5d7d9;
$color-console-flag-text: #333;
$color-console-flag-text-b: #888;

$color-console-text: #888;
$color-console-text-bold: #333;

$color-console-tab-get: #0B88B9;
$color-console-tab-get-hover: #5F9ACA;
$color-console-tab-put: #87538f;
$color-console-tab-put-hover: #B16DBB;
$color-console-tab-post: #1EA18D;
$color-console-tab-post-hover: #77C5A2;
$color-console-tab-delete: #d14956;
$color-console-tab-delete-hover: #EC5D5E;
$color-console-tab-patch: #02B0E2;
$color-console-tab-patch-hover: #96e7fe;
$color-console-tab-connect: #E48F0A;
$color-console-tab-connect-hover: #f8ba58;
$color-console-tab-head: #8A45A2;
$color-console-tab-head-hover: #b680c9;
$color-console-tab-options: #1EBD77;
$color-console-tab-options-hover: #59e5a7;
$color-console-tab-trace: #98B805;
$color-console-tab-trace-hover: #c7f107;

$color-console-tab-text: #fff;

$color-console-tab-active-bg: #fff;
$color-console-tab-active: #333;

// resource-panel view, colors when opened
$color-resource-description-bg: #FAFAFA;
$color-resource-a: rgb(37, 125, 207);
$color-resource-bg: #fff;
$color-resource-border: #ccc;

$color-resource-path-active: #fff;
$color-resource-path-active-bg: #2d2d30;
$color-resource-path-active-border: #2d2d30;

$color-resource-close-bg: $color-resource-path-active-bg;
$color-resource-close: $color-purps-dark;
$color-resource-close-bg-hover: $color-purps;

$color-flag-bg: #fafafa;
$color-flag-border: #eaeced;
$color-flag-text: #333;
$color-flag-text-bold: #888;

$color-resource-subheader-border: #e1e1e1;

$color-resource-heading: #4c5272;

$color-resource-text: #333;

$color-resource-param-border: #ccc;
$color-resource-param-instructional: #777;

$color-resource-toggle-bg: $color-pale;
$color-resource-toggle-border-shadow: $color-pale-dark;
$color-resource-toggle-text: #999;
$color-resource-toggle-text-active: $color-navy;

//resource panel sidebar (try it)
$color-sidebar-bg: $color-pale-light;
$color-sidebar-border: $color-pale-dark;

$color-sidebar-controls-bg: $color-pale-dark;
$color-sidebar-controls-border: rgba(0,0,0,0.1);

$color-sidebar-header-bg: #ddd;
$color-sidebar-header-border: #ccc;
$color-sidebar-header-text: $color-navy-light;

$color-resource-header-bg: #fafafa;
$color-resource-header-border: #f1f1f1;

$color-sidebar-subheader-border: $color-pale-dark;
$color-sidebar-subheader-text: $color-navy-light;

$color-sidebar-add-btn-bg: $color-purps-dark;
$color-sidebar-add-btn-bg-hover: $color-purps;
$color-sidebar-add-btn: $color-sidebar-bg;

$color-sidebar-action-clear-bg: $color-navy-dark;
$color-sidebar-action-reset-bg: $color-purps-dark;

$color-sidebar-text: rgba(0,0,0,0.7);
$color-sidebar-text-emphasis: rgba(0,0,0,0.55);

$color-sidebar-pre-bg: rgba(255,255,255,0.75);
$color-sidebar-pre-border: rgb(198, 202, 218);

$color-sidebar-response-text: rgba(0,0,0,0.6);
$color-sidebar-response-border: rgba(0,0,0,0.1);

$color-sidebar-show-more-bg: rgba(45,45,48,0.5);

//forms
$color-label: #000;
$color-input-bg: #fff;
$color-input-border: $color-pale-dark;
$color-input-reset: #bbb;
$color-input-reset-hover: #777;
$color-input-text: #333;

$color-flyout-bg: $color-navy-dark;
$color-flyout-text: #fff;

// toggles
$color-toggle-active-bg: #5B9DBD;
$color-toggle-active-border: #46778f;
$color-toggle-active-text: #fff;

$color-toggle-bg: #f3f4f5;
$color-toggle-border: #ccc;
$color-toggle-text: #aaa;
