.marked-content {
  table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
  table > thead > tr > th,
  table > tbody > tr > th,
  table > tfoot > tr > th,
  table > thead > tr > td,
  table > tbody > tr > td,
  table > tfoot > tr > td {
    padding: 10px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #e0e0e0;
  }
  table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #e0e0e0;
  }
  table > caption + thead > tr:first-child > th,
  table > colgroup + thead > tr:first-child > th,
  table > thead:first-child > tr:first-child > th,
  table > caption + thead > tr:first-child > td,
  table > colgroup + thead > tr:first-child > td,
  table > thead:first-child > tr:first-child > td {
    border-top: 0;
  }
  table > tbody + tbody {
    border-top: 2px solid #e0e0e0;
  }
  table .table {
    background-color: #ffffff;
  }
  table-hover > tbody > tr:hover {
    background-color: #f2f2f2;
  }
  table > thead > tr > td.active,
  table > tbody > tr > td.active,
  table > tfoot > tr > td.active,
  table > thead > tr > th.active,
  table > tbody > tr > th.active,
  table > tfoot > tr > th.active,
  table > thead > tr.active > td,
  table > tbody > tr.active > td,
  table > tfoot > tr.active > td,
  table > thead > tr.active > th,
  table > tbody > tr.active > th,
  table > tfoot > tr.active > th,
  table > thead > tr > td.active,
  table > tbody > tr > td.active,
  table > tfoot > tr > td.active,
  table > thead > tr > th.active,
  table > tbody > tr > th.active,
  table > tfoot > tr > th.active,
  table > thead > tr.active > td,
  table > tbody > tr.active > td,
  table > tfoot > tr.active > td,
  table > thead > tr.active > th,
  table > tbody > tr.active > th,
  table > tfoot > tr.active > th {
    background-color: #f2f2f2;
  }
  table-hover > tbody > tr > td.active:hover,
  table-hover > tbody > tr > th.active:hover,
  table-hover > tbody > tr.active:hover > td,
  table-hover > tbody > tr:hover > .active,
  table-hover > tbody > tr.active:hover > th,
  table-hover > tbody > tr > td.active:hover,
  table-hover > tbody > tr > th.active:hover,
  table-hover > tbody > tr.active:hover > td,
  table-hover > tbody > tr:hover > .active,
  table-hover > tbody > tr.active:hover > th {
    background-color: #e5e5e5;
  }
  table > thead > tr > td.success,
  table > tbody > tr > td.success,
  table > tfoot > tr > td.success,
  table > thead > tr > th.success,
  table > tbody > tr > th.success,
  table > tfoot > tr > th.success,
  table > thead > tr.success > td,
  table > tbody > tr.success > td,
  table > tfoot > tr.success > td,
  table > thead > tr.success > th,
  table > tbody > tr.success > th,
  table > tfoot > tr.success > th,
  table > thead > tr > td.success,
  table > tbody > tr > td.success,
  table > tfoot > tr > td.success,
  table > thead > tr > th.success,
  table > tbody > tr > th.success,
  table > tfoot > tr > th.success,
  table > thead > tr.success > td,
  table > tbody > tr.success > td,
  table > tfoot > tr.success > td,
  table > thead > tr.success > th,
  table > tbody > tr.success > th,
  table > tfoot > tr.success > th {
    background-color: #dff0d8;
  }
  table-hover > tbody > tr > td.success:hover,
  table-hover > tbody > tr > th.success:hover,
  table-hover > tbody > tr.success:hover > td,
  table-hover > tbody > tr:hover > .success,
  table-hover > tbody > tr.success:hover > th,
  table-hover > tbody > tr > td.success:hover,
  table-hover > tbody > tr > th.success:hover,
  table-hover > tbody > tr.success:hover > td,
  table-hover > tbody > tr:hover > .success,
  table-hover > tbody > tr.success:hover > th {
    background-color: #d0e9c6;
  }
  table > thead > tr > td.info,
  table > tbody > tr > td.info,
  table > tfoot > tr > td.info,
  table > thead > tr > th.info,
  table > tbody > tr > th.info,
  table > tfoot > tr > th.info,
  table > thead > tr.info > td,
  table > tbody > tr.info > td,
  table > tfoot > tr.info > td,
  table > thead > tr.info > th,
  table > tbody > tr.info > th,
  table > tfoot > tr.info > th,
  table > thead > tr > td.info,
  table > tbody > tr > td.info,
  table > tfoot > tr > td.info,
  table > thead > tr > th.info,
  table > tbody > tr > th.info,
  table > tfoot > tr > th.info,
  table > thead > tr.info > td,
  table > tbody > tr.info > td,
  table > tfoot > tr.info > td,
  table > thead > tr.info > th,
  table > tbody > tr.info > th,
  table > tfoot > tr.info > th {
    background-color: #d9edf7;
  }
  table-hover > tbody > tr > td.info:hover,
  table-hover > tbody > tr > th.info:hover,
  table-hover > tbody > tr.info:hover > td,
  table-hover > tbody > tr:hover > .info,
  table-hover > tbody > tr.info:hover > th,
  table-hover > tbody > tr > td.info:hover,
  table-hover > tbody > tr > th.info:hover,
  table-hover > tbody > tr.info:hover > td,
  table-hover > tbody > tr:hover > .info,
  table-hover > tbody > tr.info:hover > th {
    background-color: #c4e3f3;
  }
  table > thead > tr > td.warning,
  table > tbody > tr > td.warning,
  table > tfoot > tr > td.warning,
  table > thead > tr > th.warning,
  table > tbody > tr > th.warning,
  table > tfoot > tr > th.warning,
  table > thead > tr.warning > td,
  table > tbody > tr.warning > td,
  table > tfoot > tr.warning > td,
  table > thead > tr.warning > th,
  table > tbody > tr.warning > th,
  table > tfoot > tr.warning > th,
  table > thead > tr > td.warning,
  table > tbody > tr > td.warning,
  table > tfoot > tr > td.warning,
  table > thead > tr > th.warning,
  table > tbody > tr > th.warning,
  table > tfoot > tr > th.warning,
  table > thead > tr.warning > td,
  table > tbody > tr.warning > td,
  table > tfoot > tr.warning > td,
  table > thead > tr.warning > th,
  table > tbody > tr.warning > th,
  table > tfoot > tr.warning > th {
    background-color: #fcf8e3;
  }
  table-hover > tbody > tr > td.warning:hover,
  table-hover > tbody > tr > th.warning:hover,
  table-hover > tbody > tr.warning:hover > td,
  table-hover > tbody > tr:hover > .warning,
  table-hover > tbody > tr.warning:hover > th,
  table-hover > tbody > tr > td.warning:hover,
  table-hover > tbody > tr > th.warning:hover,
  table-hover > tbody > tr.warning:hover > td,
  table-hover > tbody > tr:hover > .warning,
  table-hover > tbody > tr.warning:hover > th {
    background-color: #faf2cc;
  }
  table > thead > tr > td.danger,
  table > tbody > tr > td.danger,
  table > tfoot > tr > td.danger,
  table > thead > tr > th.danger,
  table > tbody > tr > th.danger,
  table > tfoot > tr > th.danger,
  table > thead > tr.danger > td,
  table > tbody > tr.danger > td,
  table > tfoot > tr.danger > td,
  table > thead > tr.danger > th,
  table > tbody > tr.danger > th,
  table > tfoot > tr.danger > th,
  table > thead > tr > td.danger,
  table > tbody > tr > td.danger,
  table > tfoot > tr > td.danger,
  table > thead > tr > th.danger,
  table > tbody > tr > th.danger,
  table > tfoot > tr > th.danger,
  table > thead > tr.danger > td,
  table > tbody > tr.danger > td,
  table > tfoot > tr.danger > td,
  table > thead > tr.danger > th,
  table > tbody > tr.danger > th,
  table > tfoot > tr.danger > th {
    background-color: #f2dede;
  }
  table-hover > tbody > tr > td.danger:hover,
  table-hover > tbody > tr > th.danger:hover,
  table-hover > tbody > tr.danger:hover > td,
  table-hover > tbody > tr:hover > .danger,
  table-hover > tbody > tr.danger:hover > th,
  table-hover > tbody > tr > td.danger:hover,
  table-hover > tbody > tr > th.danger:hover,
  table-hover > tbody > tr.danger:hover > td,
  table-hover > tbody > tr:hover > .danger,
  table-hover > tbody > tr.danger:hover > th {
    background-color: #ebcccc;
  }

}
