.resource-header {
  position: relative;

  padding-top: 8px;
  padding-right: 0;
  padding-bottom: 8px;
  border-top: 1px solid $color-resource-header-border;
  border-bottom: 1px solid $color-resource-header-border;

  background: $color-resource-header-bg;
  color: $color-sidebar-header-text;
}

.resource-head {
  margin: 0;

  vertical-align: top;

  font-size: 18px;
  font-weight: 700;
  text-rendering: optimizeLegibility;

  margin-left: 32px;

  button:focus {
    outline: none;
  }
}

.resource-body-heading > span {
  margin-left: 5px;
  cursor: pointer;
}

.resource-body-heading > span.is-active {
  background: $color-body-heading;
  color: $color-resource-text;
}

.request-body-heading > span {
  margin-left: 5px;
  cursor: pointer;
}

.request-body-heading > span.is-active {
  background: $color-body-heading;
  color: $color-resource-text;
}

.request-body-heading span:first-child {
  margin-left: 0;
}

.resource-panel {
  position: relative;

  min-height: 500px;

  // display: none;
  border: solid $color-resource-border;
  border-width: 0 1px 1px;
  border-radius: 0 0 5px 5px;

  background: $color-resource-bg;
  // box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
  color: $color-resource-text;

  @media only screen and (min-width: $large-screen) {
    border-width: 1px;
  }
}

.resource-panel-wrapper {
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.resource-panel-primary {
  // width: 100%;
  -ms-flex: 1 auto;
  flex: 1 auto;
  -webkit-flex: 1 auto;

  overflow: hidden;

  font-size: 16px;

  @media only screen and (min-width: $large-screen) {
    font-size: 18px;

    .has-sidebar-collapsed & {
      padding-left: 0;
    }
  }

  p {
    font-family: $georgia;
  }

  a {
    color: $color-resource-a;
  }
}

.sidebar-controls-collapse {
  display: none;
}

.has-sidebar-fullscreen .sidebar-fullscreen-toggle {
  display: none;
}

.has-sidebar-fullscreen .sidebar-collapse-toggle {
  display: block;
}

.has-sidebar-fullscreen .sidebar-controls-fullscreen {
  display: none;
}

.has-sidebar-collapsed .sidebar-controls-collapse {
  display: block
}

.resource-panel.has-sidebar-collapsed .sidebar-controls {
  right: -80px;
  width: 80px;
  // left: 0 !important;
}

.resource-panel.has-sidebar-collapsed .sidebar-controls .discoverable {
  display: inline;
}

.resource-panel.has-sidebar-collapsed .sidebar-controls .collapse img {
  visibility: visible;
}

.resource-panel.has-sidebar-collapsed .sidebar-controls .collapse:before {
  content: "";
}

.response-container {
  margin-left: 60px;
  min-height: 500px;
  padding-top: 24px !important;
  border: 1px solid $color-gray-dark;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.resource-panel-primary-row {
  padding: 10px;

  @media only screen and (min-width: $medium-screen) {
    padding: 24px;
  }

  @media only screen and (min-width: $large-screen) {
    padding: 32px;
  }
}

.resource-panel-content {
  display: none;
  background: $color-console-response-status;
}

.resource-panel-content.is-active {
  display: block;
}

.resource-panel-description {
  .description {
    margin-bottom: 0;

    font-family: $lato;
    font-size: 14px;
  }
}

.resource-panel-flag-list {
  margin-top: 5px;
  padding-left: 0;

  .flag {
    margin-top: 8px;
    border: 1px solid $color-flag-border;

    background: $color-flag-bg;

    &:first-child {
      margin-left: 0;
    }
  }
}

.resource-panel-subheader {
  padding: 14px 32px 18px 100px;
  // border-bottom: solid $color-resource-subheader-border;
  border-width: 1px 0;
  min-height: 45px;

  @media only screen and (min-width: $medium-screen) {
    padding-right: 24px;
    padding-left: 32px;
  }

  @media only screen and (min-width: $large-screen) {
    padding-right: 24px;
    padding-left: 32px;
  }
}

.resource-panel-subheader-section {
  width: 50%;
}

.resource-panel-tabs {
  padding-top: 0;
}

.resource-panel-toggle-group {
  float: left;
}

.resource-heading-a {
  margin: 0 0 18px;
  color: $color-resource-heading;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  &:first-child {
    margin-top: 0;
  }
}

.resource-section {
  margin-top: 32px;

  @media only screen and (min-width: $large-screen) {
    margin-top: 48px;
  }

  &:first-child {
    margin-top: 0;
  }
}

.resource-response-section {
  margin-top: 24px;
}

.resource-param {
  margin-bottom: 24px;

  @media only screen and (min-width: $large-screen) {
    margin-bottom: 36px;
  }

  p {
    margin-bottom: 0;
    padding-top: 5px;
    padding-left: 12px;

    font-size: 14px;

    @media only screen and (min-width: $medium-screen) {
      padding-left: 24px;

      font-size: 16px;
    }
  }
}

.resource-param-heading {
  margin-bottom: 0;
  padding-bottom: 3px;
  border-bottom: 1px solid $color-resource-param-border;

  font-size: 14px;
}

.resource-param-instructional {
  margin-left: 5px;

  color: $color-resource-param-instructional;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;

  @media only screen and (min-width: $medium-screen) {
    font-size: 16px;
  }
}

.resource-param-example {
  font-family: $lato;

  b {
    margin-right: 3px;

    color: $color-resource-param-instructional;
    font-style: italic;
    font-weight: 400;
  }
}

.resource-response-jump {
  font-size: 14px;
}

.resource-btns {
  padding-left: 5px;
}

.resource-btn {
  text-decoration: none;
  margin: 0 5px 0 0;
  padding: 5px 10px 6px 10px;
  border: 1px solid $color-toggle-border;
  border-radius: 4px;

  background-color: $color-toggle-bg;
  color: $color-resource-a;
  cursor: pointer;
  font-family: $lato;
  font-size: 16px;
  font-weight: 700;
  transition: 0.2s ease color, 0.2s ease border-color;
  -webkit-font-smoothing: antialiased;

  &.is-active, &:hover {
    border-color: rgba(0,0,0,0.25);

    background-color: $color-resource-a;
    color: $color-toggle-active-text;
  }
}

.resource-response .flag {
  border: 1px solid $color-flag-border;

  font-size: 16px;
  background: $color-flag-bg;
  color: $color-flag-text-bold;
}

.resource-pre {
  margin: 0 0 18px 0;
  // padding: 8px 12px;
  border: 1px solid $color-sidebar-pre-border;
  border-radius: 3px;

  background: $color-sidebar-pre-bg;
  font-family: Source Code Pro;
  font-size: 14px;

  code {
    pre {
      margin: 0;
    }
  }
}

.resource-pre-toggle {
  display: none;

  &.is-active {
    display: block;
  }
}

.toggle-button, .toggle-button:visited, .toggle-button:active {
  color: $color-sidebar-subheader-text;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 12px;
  // margin-bottom: 5px;
  font-weight: bold;
  // margin-left: 7px;
}
