.tab-box {
  height:31px;
  border-radius: 4px;
  margin:0 10px 0;

 -webkit-transform: perspective(45px) rotateX(30deg);
 -moz-transform: perspective(45px) rotateX(30deg);
 -ms-transform: perspective(45px) rotateX(30deg);

  text-align: center;
  padding-top: 5px;
}

.tab-list {
  right: 12px;
  position: relative;
  bottom: -1px;

  display: flex;
  flex-grow: 1;
  flex-flow: row-reverse;
  align-self: flex-end;
  padding-left: 16px;

  @media only screen and (min-width: $medium-screen) {
    padding-left: 24px;
  }
}

.tab {
  width: 126px;
  overflow:hidden;
  float:left;
  margin:0 -15px 0 0;

  position: relative;
  cursor: pointer;
  align-self: flex-end;
  height: 18px;
  margin-left: -6px;

  color: $color-console-tab-text;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-decoration: none;

  @media only screen and (min-width: $medium-screen) {
    height: 24px;
    margin-left: -6px;
  }

  @media only screen and (min-width: $large-screen) {
    height: 27px;
  }
}

.tab-label {
  position: absolute;
  z-index: 1;
  width: 100%;
  text-align: center;
  padding-top: 6px;

  font-size: 11px;
  font-weight: 900;
  text-align: center;

  @media only screen and (min-width: $medium-screen) {
    font-size: 12px;
    font-weight: 700;
  }

  @media only screen and (min-width: $large-screen) {
    font-size: 14px;
  }
}

.tab-image {
  width: 82px;
  height: 100%;

  @media only screen and (min-width: $medium-screen) {
    width: 112px;
  }

  @media only screen and (min-width: $large-screen) {
    width: 126px;
  }
}

.tab-get {
  background: $color-console-tab-get;
}

.tab-put {
  background: $color-console-tab-put;
}

.tab-delete {
  background: $color-console-tab-delete;
}

.tab-post {
  background: $color-console-tab-post;
}

.tab-patch {
  background: $color-console-tab-patch;
}

.tab-connect {
  background: $color-console-tab-connect;
}

.tab-head {
  background: $color-console-tab-head;
}

.tab-options {
  background: $color-console-tab-options;
}

.tab-trace {
  background: $color-console-tab-trace;
}

.tab:hover,
.resource:not(.is-active) .tab.is-hovered {
  .tab-get {
    background: $color-console-tab-get-hover;
  }

  .tab-put {
    background: $color-console-tab-put-hover;
  }

  .tab-delete {
    background: $color-console-tab-delete-hover;
  }

  .tab-post {
    background: $color-console-tab-post-hover;
  }

  .tab-patch {
    background: $color-console-tab-patch-hover;
  }

  .tab-connect {
    background: $color-console-tab-connect-hover;
  }

  .tab-head {
    background: $color-console-tab-head-hover;
  }

  .tab-options {
    background: $color-console-tab-options-hover;
  }

  .tab-trace {
    background: $color-console-tab-trace-hover;
  }
}

.tab.is-active {
  z-index: 1;

  color: $color-console-tab-active;
}

.tab.is-active .tab-box {
  background: $color-console-tab-active-bg;
}
