$large-screen: 960px;
$medium-screen: 600px;

// Fonts

$lato: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif', 'Liberation Serif", Georgia, serif;
$monospace: "Courier New", monospace;
