/*
raml-console theme for code-mirror
http://ethanschoonover.com/raml-console
*/

/*
raml-console color pallet
http://ethanschoonover.com/raml-console/img/raml-console-palette.png
*/

.raml-console.base03 { color: #002b36; }
.raml-console.base02 { color: #073642; }
.raml-console.base01 { color: #586e75; }
.raml-console.base00 { color: #657b83; }
.raml-console.base0 { color: #839496; }
.raml-console.base1 { color: #93a1a1; }
.raml-console.base2 { color: #eee8d5; }
.raml-console.base3  { color: #fdf6e3; }
.raml-console.solar-yellow  { color: #b58900; }
.raml-console.solar-orange  { color: #cb4b16; }
.raml-console.solar-red { color: #dc322f; }
.raml-console.solar-magenta { color: #d33682; }
.raml-console.solar-violet  { color: #6c71c4; }
.raml-console.solar-blue { color: #268bd2; }
.raml-console.solar-cyan { color: #2aa198; }
.raml-console.solar-green { color: #859900; }

/* Color scheme for code-mirror */

.cm-s-raml-console {
  line-height: 1.45em !important;
  color-profile: sRGB !important;
  rendering-intent: auto !important;
  position: relative !important;
  background-color: #fff !important;
  color: #657b83 !important;
}

.cm-s-raml-console .CodeMirror-widget {
  text-shadow: none;
}


.cm-s-raml-console .cm-keyword { color: #cb4b16 }
.cm-s-raml-console .cm-atom { color: #2aa198; }
.cm-s-raml-console .cm-number { color: #2aa198; }
.cm-s-raml-console .cm-def { color: #b58900; }

.cm-s-raml-console .cm-variable { color: #268bd2; }
.cm-s-raml-console .cm-variable-2 { color: #b58900; }
.cm-s-raml-console .cm-variable-3 { color: #6c71c4; }

.cm-s-raml-console .cm-property { color: #b58900; }
.cm-s-raml-console .cm-operator {color: #6c71c4;}

.cm-s-raml-console .cm-comment { color: #586e75; font-style:italic; }

/*.cm-s-raml-console .cm-string { color: #859900; }*/
/*.cm-s-raml-console .cm-string-2 { color: #b58900; }*/

.cm-s-raml-console .cm-meta { color: #859900; }
.cm-s-raml-console .cm-qualifier { color: #b58900; }
.cm-s-raml-console .cm-builtin { color: #2aa198; }
.cm-s-raml-console .cm-bracket { color: #cb4b16; }
.cm-s-raml-console .CodeMirror-matchingbracket { color: #859900; }
.cm-s-raml-console .CodeMirror-nonmatchingbracket { color: #dc322f; }
.cm-s-raml-console .cm-tag { color: #268bd2 }
.cm-s-raml-console .cm-attribute {  color: #b58900; }
.cm-s-raml-console .cm-header { color: #586e75; }
.cm-s-raml-console .cm-quote { color: #268bd2; }
.cm-s-raml-console .cm-hr {
  color: transparent;
  border-top: 1px solid #586e75;
  display: block;
}
.cm-s-raml-console .cm-link { color: #268bd2; cursor: pointer; }
.cm-s-raml-console .cm-special { color: #6c71c4; }
.cm-s-raml-console .cm-em {
  color: #999;
  text-decoration: underline;
  text-decoration-style: dotted;
}
.cm-s-raml-console .cm-strong { color: #eee; }
.cm-s-raml-console .cm-error,
.cm-s-raml-console .cm-invalidchar {
  color: #586e75;
  border-bottom: 1px dotted #dc322f;
}

.cm-s-raml-console .CodeMirror-selected {
  background: #eee8d5;
}

/* Editor styling */



/* Little shadow on the view-port of the buffer view */
.cm-s-raml-console.CodeMirror {
  /*-moz-box-shadow: inset 7px 0 12px -6px #000;
  -webkit-box-shadow: inset 7px 0 12px -6px #000;
  box-shadow: inset 7px 0 12px -6px #000;*/
  /*height: 100%;*/
  /*margin-top: -18px;*/
}

/* Gutter border and some shadow from it  */
.cm-s-raml-console .CodeMirror-gutters {
  border-right: 1px solid;
}

/* Gutter colors and line number styling based of color scheme (dark / light) */

/* Light */
.cm-s-raml-console .CodeMirror-gutters {
  background-color: #fff;
  border-color: #eee8d5;
}

/* Common */
.cm-s-raml-console .CodeMirror-linenumber {
  color: #586e75;
  padding: 0 5px;
}
.cm-s-raml-console .CodeMirror-guttermarker-subtle { color: #586e75; }
.cm-s-raml-console .CodeMirror-guttermarker { color: #cb4b16; }

.cm-s-raml-console .CodeMirror-gutter .CodeMirror-gutter-text {
  color: #586e75;
}

.cm-s-raml-console .CodeMirror-lines .CodeMirror-cursor {
  border-left: 1px solid #819090;
}

/*
Active line. Negative margin compensates left padding of the text in the
view-port
*/
.cm-s-raml-console .CodeMirror-activeline-background {
  background: rgba(0, 0, 0, 0.10);
}
