/*input.ng-dirty.ng-invalid {
  border: 1px solid red;
}*/

input.ng-dirty.ng-invalid-required {
  border: 1px solid red;
}

input[type="file"].ng-dirty.ng-invalid-required + span.raml-console-field-validation-error::after {
  margin-top: 0;
}

input.ng-dirty.ng-invalid-required + span.raml-console-field-validation-error::after {
  content: 'Required';
  color: white;
  position: absolute;
  margin-top: -20px;
  font-size: 13px;
  background-color: red;
  width: 100%;
  text-align: center;
}

input.ng-dirty.ng-invalid-min-length {
  border: 1px solid red;
}

input[type="file"].ng-invalid-min-length + span.raml-console-field-validation-error::after {
  margin-top: 0;
}

input.ng-invalid-min-length + span.raml-console-field-validation-error::after {
  content: 'Invalid min length';
  color: white;
  position: absolute;
  margin-top: -20px;
  font-size: 13px;
  background-color: red;
  width: 100%;
  text-align: center;
}

input.ng-dirty.ng-invalid-max-length {
  border: 1px solid red;
}

input[type="file"].ng-dirty.ng-invalid-max-length + span.raml-console-field-validation-error::after {
  margin-top: 0;
}

input.ng-dirty.ng-invalid-max-length + span.raml-console-field-validation-error::after {
  content: 'Invalid max length';
  color: white;
  position: absolute;
  margin-top: -20px;
  font-size: 13px;
  background-color: red;
  width: 100%;
  text-align: center;
}

input.ng-dirty.ng-invalid-enum {
  border: 1px solid red;
}

input.ng-dirty.ng-invalid-enum + span.raml-console-field-validation-error::after {
  content: 'Invalid enum value';
  color: white;
  position: absolute;
  margin-top: -20px;
  font-size: 13px;
  background-color: red;
  width: 100%;
  text-align: center;
}

input.ng-dirty.ng-invalid-minimum {
  border: 1px solid red;
}

input.ng-dirty.ng-invalid-minimum + span.raml-console-field-validation-error::after {
  content: 'Invalid minimum';
  color: white;
  position: absolute;
  margin-top: -20px;
  font-size: 13px;
  background-color: red;
  width: 100%;
  text-align: center;
}

input.ng-dirty.ng-invalid-maximum {
  border: 1px solid red;
}

input.ng-dirty.ng-invalid-maximum + span.raml-console-field-validation-error::after {
  content: 'Invalid maximum';
  color: white;
  position: absolute;
  margin-top: -20px;
  font-size: 13px;
  background-color: red;
  width: 100%;
  text-align: center;
}

input.ng-dirty.ng-invalid-type {
  border: 1px solid red;
}

input.ng-dirty.ng-invalid-type + span.raml-console-field-validation-error::after {
  content: 'Invalid type';
  color: white;
  position: absolute;
  margin-top: -20px;
  font-size: 13px;
  background-color: red;
  width: 100%;
  text-align: center;
}

input.ng-dirty.ng-invalid-pattern {
  border: 1px solid red;
}

input.ng-dirty.ng-invalid-pattern + span.raml-console-field-validation-error::after {
  content: 'Invalid pattern';
  color: white;
  position: absolute;
  margin-top: -20px;
  font-size: 13px;
  background-color: red;
  width: 100%;
  text-align: center;
}

input.ng-dirty.ng-invalid-min-items, input.ng-dirty.ng-invalid-max-items, input.ng-dirty.ng-invalid-unique-items {
  border: 1px solid red;
}

input.ng-dirty.ng-invalid-min-items + span.raml-console-field-validation-error::after {
  content: 'Invalid minItems';
  color: white;
  position: absolute;
  margin-top: -20px;
  font-size: 13px;
  background-color: red;
  width: 100%;
  text-align: center;
}

input.ng-dirty.ng-invalid-max-items + span.raml-console-field-validation-error::after {
  content: 'Invalid maxItems';
  color: white;
  position: absolute;
  margin-top: -20px;
  font-size: 13px;
  background-color: red;
  width: 100%;
  text-align: center;
}

input.ng-dirty.ng-invalid-unique-items + span.raml-console-field-validation-error::after {
  content: 'Repeated items';
  color: white;
  position: absolute;
  margin-top: -20px;
  font-size: 13px;
  background-color: red;
  width: 100%;
  text-align: center;
}

input.ng-dirty.ng-invalid-repeat {
  border: 1px solid red;
}

input.ng-dirty.ng-invalid-repeat + span.raml-console-field-validation-error::after {
  content: 'Invalid repeat';
  color: white;
  position: absolute;
  margin-top: -20px;
  font-size: 13px;
  background-color: red;
  width: 100%;
  text-align: center;
}
