@import 'preboot';

@border-color-gray: rgb(218,220,221);
@fill-color-dark-gray: #f4f6f8;
@background-selected-color: rgb(251, 251, 251);


section, aside {
    font-family: 'Ubuntu', sans-serif;
}

a, a:visited { color: #07c; text-decoration: none; outline: 0; }
a:hover, a:focus { color: #000; }
p a, p a:visited { line-height: inherit; }
