<section class="documentation-section request-body" ng-show="body">
  <fieldset class="bordered">
    <h2>Body</h2>

    <toggle key-base="baseKey + ':body'" toggle-model="body">
      <toggle-item ng-repeat="contentType in body.contentTypes" heading="{{contentType}}">
        <div class="labelled-inline" ng-if='body.isForm(contentType)' ng-show="body.isSelected(contentType)">
          <parameter-fields parameters='body.definitions[contentType]'></parameter-fields>
        </div>

        <div ng-if="!body.isForm(contentType)" ng-show="body.isSelected(contentType)">
          <textarea name="{{contentType}}" ng-model="body.definitions[contentType].value"></textarea>
          <a href="#" class="body-prefill" ng-show="body.hasExample(contentType)" ng-click="body.fillWithExample($event)">Prefill with example</a>
        </div>
      </toggle-item>
    </toggle>
  </fieldset>
</section>
