<section class='documentation' role='documentation'>
  <console-tabset key-base='{{ generateKey(resource.toString(), method) }}' heading='{{ method.method }}'>
    <console-tab role='documentation-requests' heading="Request" active='documentation.requestsActive' disabled="!documentation.hasRequestDocumentation()">
      <div class="modifiers">
        <span class="modifier-group" ng-if="method.is">
          <span class="caption">Traits:</span>
          <ul role="traits">
            <li class="trait" ng-repeat="trait in method.is" ng-bind="trait|nameFromParameterizable"></li>
          </ul>
        </span>
      </div>

      <div class="documentation-section" ng-if="method.description">
        <section>
          <h2>Description</h2>
          <div role="full-description" class="description" markdown="method.description"></div>
        </section>
      </div>

      <div class="documentation-section" ng-if='!documentation.isEmpty(method.plainAndParameterizedHeaders)'>
        <named-parameters-documentation heading='Headers' role='parameter-group' parameters='method.plainAndParameterizedHeaders'></named-parameters-documentation>
      </div>

      <div class="documentation-section" ng-if='!documentation.isEmpty(resource.uriParametersForDocumentation)'>
        <named-parameters-documentation heading='URI Parameters' role='parameter-group' parameters='resource.uriParametersForDocumentation'></named-parameters-documentation>
      </div>

      <div class="documentation-section" ng-if='!documentation.isEmpty(method.queryParameters)'>
        <named-parameters-documentation heading='Query Parameters' role='parameter-group' parameters='method.queryParameters'></named-parameters-documentation>
      </div>

      <div class="documentation-section" ng-if='method.body && documentation.requestsActive'>
        <body-documentation body="method.body" key-base="generateKey(resource.toString(), method) + ':request'"></body-documentation>
      </div>
    </console-tab>

    <console-tab role="documentation-responses" heading="Responses"  active='documentation.responsesActive' disabled='!documentation.hasResponseDocumentation()'>
      <responses></responses>
    </console-tab>

    <console-tab role="try-it" heading="Try It" active="documentation.tryItActive" disabled="!ramlConsole.tryItEnabled()">
      <try-it></try-it>
    </console-tab>
  </console-tabset>
</section>
