<section role='documentation'>
  <p ng-show="method.description">Description: {{method.description}}</p>

  <tabset>
    <tab role='documentation-parameters' heading="Parameters" disabled="!documentation.hasParameterDocumentation">
      <parameter-table heading='URI Parameters' role='uri-parameters' parameters='resource.uriParameters'></parameter-table>
      <parameter-table heading='Query Parameters' role='query-parameters' parameters='method.queryParameters'></parameter-table>
    </tab>
    <tab role='documentation-requests' heading="Requests" active='documentation.requestsActive' disabled="!documentation.hasRequestDocumentation">
      <h2 ng-if="method.body['text/xml']">text/xml</h2>
      <div ng-if="documentation.hasRequestSchema">
        <h3>Request Schema</h3>
        <div class="code" code-mirror="method.body['text/xml'].schema" visible="methodView.expanded && documentation.requestsActive"></div>
      </div>
      <div ng-if="documentation.hasRequestExample">
        <h3>Example Request</h3>
        <div class="code" code-mirror="method.body['text/xml'].example" visible="methodView.expanded && documentation.requestsActive"></div>
      </div>
    </tab>
    <tab role='documentation-responses' heading="Responses" active='documentation.responsesActive' disabled='!documentation.hasResponseDocumentation'>
      <h2>Responses</h2>
      <div ng-repeat='(responseCode, response) in method.responses'>
        <h3>
          <a href="" ng-click='documentation.toggleExpansion(response)'>
            <i ng-class="{'icon-caret-right': response.collapsed, 'icon-caret-down': !response.collapsed}"></i>
            {{responseCode}}
          </a>
        </h3>
        <section role='response' ng-hide='response.collapsed'>
          <p markdown='response.description'></p>
          <div ng-if="response.body['text/xml'].schema">
            <h4>Schema</h4>
            <div class="code" code-mirror="response.body['text/xml'].schema" visible="methodView.expanded && documentation.responsesActive"></div>
          </div>

          <div ng-if="response.body['text/xml'].example">
            <h4>Example</h4>
            <div class="code" code-mirror="response.body['text/xml'].example" visible="methodView.expanded && documentation.responsesActive"></div>
          </div>
        </section>
      </div>
    </tab>
  </tabset>
</section>
