<section class='named-parameters'>
  <h2>{{heading}}</h2>
  <section role='parameter' class='parameter' ng-repeat='parameter in parameters'>
    <div ng-repeat="definition in parameter">
      <h4 class='strip-whitespace'>
        <span role="display-name">{{definition.displayName}}</span>
        <span class="constraints">{{namedParametersDocumentation.constraints(definition)}}</span>
      </h4>

      <div class="info">
        <div role="description" markdown="definition.description"></div>
        <div ng-if="definition.example"><span class="label">Example:</span> <code class="well" role="example">{{definition.example}}</code></div>
      </div>
    </div>
  </section>
</section>
