<section class='named-parameters' ng-show='parameters'>
  <h2>{{heading}}</h2>
  <section role='parameter' class='parameter' ng-repeat='param in parameters'>
    <h4 class='strip-whitespace'>
      <span role="display-name">{{param.displayName}}</span>
      <span class="constraints">{{namedParametersDocumentation.constraints(param)}}</span>
    </h4>

    <div class="info">
      <div ng-if="param.example"><span class="label">Example:</span> <code class="well" role="example">{{param.example}}</code></div>
      <div role="description" markdown="param.description"></div>
    </div>
  </section>
</section>
