<ng-switch on='inputType' class='parameter-field-input'>
  <span ng-switch-when="file">
    <input name="{{name}}" type='file' ng-model='$parent.model'/>
  </span>

  <span ng-switch-when="enum">
    <enum options='definition.enum' model='$parent.model' contained-by="containedBy">
      <input validated-input name="{{name}}" type='text' ng-model='$parent.model' placeholder='{{placeholder}}' ng-trim="false" constraints='definition' invalid-class='invalidClass'/>
    </enum>
  </span>

  <span ng-switch-default>
    <input validated-input name="{{name}}" type='text' ng-model='$parent.model' placeholder='{{placeholder}}' ng-trim="false" constraints='definition' invalid-class='invalidClass'/>
  </span>
</ng-switch>
