<fieldset>
  <div class="control-group" ng-repeat="(parameterName, parameter) in parameters.plain track by parameterName">
    <div class="parameter-field" ng-repeat="definition in parameter.definitions" ng-show="parameter.isSelected(definition)">
      <label for="{{parameterName}}">
        <span class="required" ng-if="definition.required">*</span>
        {{definition.displayName}}:
      </label>
      <ng-switch on='definition.type'>
        <input ng-switch-when='file' name="{{parameterName}}" type='file' ng-model='parameters.values[parameterName]'/>
        <input ng-switch-default validated-input name="{{parameterName}}" type='text' ng-model='parameters.values[parameterName]' placeholder='{{definition.example}}' ng-trim="false" constraints='definition'/>
      </ng-switch>
    </div>

    <div class="parameter-type" ng-if="parameter.hasMultipleTypes()">
      as
      <select class="form-control" ng-model="parameter.selected" ng-options="definition.type as definition.type for definition in parameter.definitions"></select>
    </div>
  </div>

  <div class="parameter-factory" ng-repeat='(name, _) in parameters.parameterized'>
    <parameterized-parameter parameter-name="name" parameters="parameters"></parameterized-parameter>
  </div>
</fieldset>
