<named-parameters-documentation heading='Headers' role='headers' parameters='method.headers'></named-parameters-documentation>
<named-parameters-documentation heading='URI Parameters' role='uri-parameters' parameters='resource.uriParameters'></named-parameters-documentation>
<named-parameters-documentation heading='Query Parameters' role='query-parameters' parameters='method.queryParameters'></named-parameters-documentation>
<named-parameters-documentation heading='Form Parameters' role='form-parameters' parameters='method.body["application/x-www-form-urlencoded"].formParameters'></named-parameters-documentation>
<named-parameters-documentation heading='Multipart Form Parameters' role='multipart-form-parameters' parameters='method.body["multipart/form-data"].formParameters'></named-parameters-documentation>
