<fieldset>
  <div ng-repeat="(parameterName, parameter) in parameters.plain track by parameterName">
    <div repeatable="parameter.repeat" repeatable-model="parameters.values[parameterName]">
      <div class="control-group">
        <label for="{{parameterName}}">
          <span class="required" ng-if="parameter.required">*</span>
          {{parameter.displayName}}:
        </label>
        <ng-switch on='parameter.type'>
          <input ng-switch-when='file' name="{{parameterName}}" type='file' ng-model='repeatableModel[$index]'/>
          <input ng-switch-default validated-input name="{{parameterName}}" type='text' ng-model='repeatableModel[$index]' placeholder='{{parameter.example}}' ng-trim="false" constraints='parameter'/>
        </ng-switch>
        <repeatable-remove></repeatable-remove>
        <repeatable-add></repeatable-add>
      </div>
    </div>
  </div>

  <div class="parameter-factory" ng-repeat='(name, _) in parameters.parameterized'>
    <parameterized-parameter parameter-name="name" parameters="parameters"></parameterized-parameter>
  </div>
</fieldset>
