<parameter-table heading='Headers' role='headers' parameters='method.headers'></parameter-table>
<parameter-table heading='URI Parameters' role='uri-parameters' parameters='resource.uriParameters'></parameter-table>
<parameter-table heading='Query Parameters' role='query-parameters' parameters='method.queryParameters'></parameter-table>
<parameter-table heading='Form Parameters' role='form-parameters' parameters='method.body["application/x-www-form-urlencoded"].formParameters'></parameter-table>
<parameter-table heading='Multipart Form Parameters' role='multipart-form-parameters' parameters='method.body["multipart/form-data"].formParameters'></parameter-table>
