<fieldset>
  <div ng-repeat="(parameterName, parameter) in parameters.plain track by parameterName">
    <div class="parameter-field" ng-repeat="definition in parameter.definitions" ng-show="parameter.isSelected(definition)">
      <div repeatable="definition.repeat" repeatable-model="parameters.values[parameterName]">
        <div class="control-group">
          <label for="{{parameterName}}" ng-class="{ required: definition.required }">
            {{definition.displayName}}
          </label>
          <parameter-field name='parameterName' model='repeatableModel[$index]' definition='definition' ></parameter-field>
          <repeatable-remove></repeatable-remove>
          <repeatable-add></repeatable-add>
        </div>
      </div>
    </div>

    <div class="parameter-type" ng-if="parameter.hasMultipleTypes()">
      as
      <select class="form-control" ng-model="parameter.selected" ng-options="definition.type as definition.type for definition in parameter.definitions"></select>
    </div>
  </div>

  <div class="parameter-factory" ng-repeat='(name, _) in parameters.parameterized'>
    <parameterized-parameter parameter-name="name" parameters="parameters"></parameterized-parameter>
  </div>
</fieldset>
