<span role="path" class="path">
  <span clsas="segment">
    <span ng-repeat='token in api.baseUri.tokens track by $index'>
      <input type='text' validated-input ng-if='api.baseUri.parameters[token]'
                             name="{{token}}"
                             ng-model="pathBuilder.baseUriContext[token]"
                             placeholder="{{token}}"
                             constraints="api.baseUri.parameters[token]"
                             invalid-class="error"/>
      <span class="segment" ng-if="!api.baseUri.parameters[token]">{{token}}</span>
    </span>
  <span role='segment' ng-repeat='segment in resource.pathSegments' ng-init="$segmentIndex = $index">
    <span ng-repeat='token in segment.tokens track by $index'>
      <input type='text' validated-input ng-if='segment.parameters[token]'
                             name="{{token}}"
                             ng-model="pathBuilder.segmentContexts[$segmentIndex][token]"
                             placeholder="{{token}}"
                             constraints="segment.parameters[token]"
                             invalid-class="error"/>
      <span class="segment" ng-if="!segment.parameters[token]">{{token}}</span>
    </span>
  </span>
</span>
