<span role="path" class="path">
  <span role='segment' ng-repeat='segment in resource.pathSegments' ng-init="$segmentIndex = $index">
    <span ng-repeat='token in segment.tokens track by $index'>
      <validated-input ng-if='segment.parameters[token]'
                        name="{{token}}"
                        bind-to="pathBuilder.contexts[$segmentIndex]"
                        placeholder="{{token}}"
                        constraints="segment.parameters[token]"
                        invalid-class="error">
      </validated-input>
      <span class="segment" ng-if="!segment.parameters[token]">{{token}}</span>
    </span>
  </span>
</span>
