<span role="path" class="path">
  <span clsas="segment">
    <span ng-repeat='token in api.baseUri.tokens track by $index'>
      <span ng-if='api.baseUri.parameters[token]'>
        <parameter-field name='token' definition='api.baseUri.parameters[token]' model='pathBuilder.baseUriContext[token]'></parameter-field>
      </span>
      <span class="segment" ng-if="!api.baseUri.parameters[token]">{{token}}</span>
    </span>
  <span role='segment' ng-repeat='segment in resource.pathSegments' ng-init="$segmentIndex = $index">
    <span ng-repeat='token in segment.tokens track by $index'>
      <span ng-if='segment.parameters[token]'>
        <parameter-field name='token' definition='segment.parameters[token]' model='pathBuilder.segmentContexts[$segmentIndex][token]'></parameter-field>
      </span>
      <span class="segment" ng-if="!segment.parameters[token]">{{token}}</span>
    </span>
  </span>
</span>
