<article role="api-console">
  <section role="error" ng-if="parseError">
    {{parseError}}
  </section>

  <h1 id="api-title">{{api.title}}</h1>

  <nav id="main-nav" ng-if='ramlConsole.showRootDocumentation()' ng-switch='ramlConsole.view'>
    <a class="btn inverted" ng-switch-when='rootDocumentation' role="view-api-reference" ng-click='ramlConsole.gotoView("apiReference")'>&larr; API Reference</a>
    <a class="btn inverted" ng-switch-default role="view-root-documentation" ng-click='ramlConsole.gotoView("rootDocumentation")'>Documentation &rarr;</a>
  </nav>

  <div id="content" ng-switch='ramlConsole.view'>
    <ng-include ng-switch-when='rootDocumentation' src="'views/root_documentation.tmpl.html'"></ng-include>
    <ng-include ng-switch-default src="'views/api_resources.tmpl.html'"></ng-include>
  </div>
</article>
