<article role="api-console" id="raml-console">
  <resource-documentation api="api" raml-console="ramlConsole"></resource-documentation>
  <div role="error" ng-if="parseError">
    {{parseError}}
  </div>

  <header id="raml-console-api-title">{{api.title}}</header>

  <nav id="raml-console-proxy-nav" ng-if="ramlConsole.settings.proxy">
    <span>API is behind a firewall <a href="http://www.mulesoft.org/documentation/display/current/Accessing+Your+API+Behind+a+Firewall" target="_blank">(?)</a></span>
    <input type="checkbox" ng-model="ramlConsole.config.disableProxy">
  </nav>

  <nav id="raml-console-main-nav" ng-if='ramlConsole.showRootDocumentation()' ng-switch='ramlConsole.view'>
    <a class="btn" ng-switch-when='rootDocumentation' role="view-api-reference" ng-click='ramlConsole.gotoView("apiReference")'>&larr; API Reference</a>
    <a class="btn" ng-switch-default role="view-root-documentation" ng-click='ramlConsole.gotoView("rootDocumentation")'>Documentation &rarr;</a>
  </nav>

  <div id="raml-console-content">
    <div class="inner" ng-switch='ramlConsole.view'>
      <div ng-switch-when='rootDocumentation'>
        <root-documentation></root-documentation>
      </div>
      <div ng-switch-default>
        <div ng-if='api.resourceGroups.length > 0'>
          <api-resources></api-resources>
        </div>
      </div>
    </div>
  </div>
</article>
