<div role='resourceSummary'>
  <ul role="traits">
    <li role="trait" ng-repeat="trait in resource.traits">{{trait}}</li>
  </ul>
  <h2>
    <span role='segment' ng-repeat='segment in resource.pathSegments'>{{segment}}</span>
  </h2>

  <ul class='byline'>
    <li ng-show='resource.name'>
      "{{resource.name}}"
    </li>
    <li ng-if='resource.resourceType'>
      Type: <span role="resourceType">{{resourceSummary.type()}}</span>
    </li>
  </ul>

  <ul role="methods" ng-class="{hidden: resource.isOpen}">
    <li ng-repeat="method in resource.methods">{{method.method}}</li>
  </ul>
</div>
