<div class='summary' role='resourceSummary'>
  <ul class="modifiers">
    <li class="resource-type" role="resourceType" ng-if='resourceSummary.type()'>{{resourceSummary.type()}}</li>
    <li class="trait" role="trait" ng-repeat="trait in resourceSummary.traits()">{{trait}}</li>
  </ul>

  <h3 class="path">
    <span role='segment' ng-repeat='segment in resource.pathSegments'>{{segment.toString()}} </span>
  </h3>
  <ul class='methods' role="methods" ng-hide="resource.isOpen">
    <li class='method-name' ng-class='method.method' ng-repeat="method in resource.methods">{{method.method}}</li>
  </ul>
</div>
