<div class="resource-placeholder resource-popover mask-resource-list" ng-show="resource">
  <div class="resource-container">
    <div class="resource expanded" ng-if="resource">
      <div>
        <i class="fa fa-times collapse" ng-click='closePopover($event)'></i>

        <div class="summary accordion-toggle" role="resource-summary">
          <div class="modifiers expanded">
            <span class="modifier-group" ng-if='resource.resourceType'>
              <span class="caption">Type:</span>
              <ul>
                <li class="resource-type" role="resource-type" ng-bind="resource.resourceType|nameFromParameterizable"></li>
              </ul>
            </span>
            <span class="modifier-group" ng-if='resource.traits.length > 0'>
              <span class="caption">Traits:</span>
              <ul>
                <li class="trait" role="trait" ng-repeat="trait in resource.traits" ng-bind="trait|nameFromParameterizable"></li>
              </ul>
            </span>
          </div>

          <h3 class="path">
            <span role='segment' ng-repeat='segment in resource.pathSegments'>{{segment.toString()}} </span>
          </h3>
          <ul class='methods' role="methods" ng-if="resource.methods">
            <li class='method-name' ng-class='method.method' ng-repeat="method in resource.methods" ng-click="selectMethod(method)">{{method.method}}</li>
          </ul>
        </div>
      </div>

      <method ng-repeat="method in resource.methods" ng-if="method === selectedMethod"></method>
    </div>
  </div>
</div>
