<section class="responses">
  <ul class="nav nav-tabs">
    <li>
      <a>Responses</a>
    </li>
    <li ng-repeat='(responseCode, response) in method.responses' ng-class="{active: selected(responseCode) }" ng-click="select(responseCode)">
      <a href="#{{responseCode}}">{{ responseCode }}</a>
    </li>
  </ul>

  <div class="documentation-section response" expanded='responsesView.expanded[responseCode]' ng-repeat='(responseCode, response) in method.responses'>
    <a class="response-code" name="{{responseCode}}" role="response-code"> {{responseCode}} </a>
    <section role='response'>
      <div markdown='response.description'></div>
      <div ng-if='!documentation.isEmpty(response.headers)'>
        <named-parameters-documentation heading='Headers' role='parameter-group' parameters='response.headers'></named-parameters-documentation>
      </div>

      <div ng-if="response.body && documentation.responsesActive" class='body-documentation'>
        <body-documentation body="response.body" key-base='keyBase + "responses"'></body-documentation>
      </div>
    </section>
  </div>
</section>
