<section class="documentation-section authentication">
  <fieldset class="bordered">
    <h2>Authentication</h2>

    <toggle key-base="baseKey + ':securitySchemes'" toggle-model="keychain">
      <toggle-item heading="Anonymous"></toggle-item>
      <toggle-item ng-repeat="(name, scheme) in schemes" heading="{{name}}">
        <div ng-switch="scheme.type">
          <basic-auth ng-switch-when="Basic Authentication" scheme="scheme" credentials="keychain[name]"></basic-auth>
          <oauth1 ng-switch-when="OAuth 1.0" scheme="scheme" credentials="keychain[name]"></oauth1>
          <oauth2 ng-switch-when="OAuth 2.0" scheme="scheme" credentials="keychain[name]"></oauth2>
        </div>
      </toggle-item>
    </toggle>
  </fieldset>
</section>
