<div class="method-nav-container">
  <div class="method-nav">
    <ul class="method-nav-group">
      <li>
        <a>{{heading}}</a>
      </li>

      <li class="method-nav-item" ng-repeat="item in tabset.tabs" ng-class="{active: item.active, disabled: item.disabled}">
        <a ng-click="tabset.select(item)">{{item.heading}}</a>
      </li>
    </ul>

    <ul ng-repeat="item in tabset.tabs" class="method-nav-group method-sub-nav" ng-if="tabset.active.heading == item.heading && item.subtabs">
      <li>
        <a>{{item.heading}}</a>
      </li>
      <li class="method-nav-item" ng-repeat="subItem in item.subtabs" ng-click="item.select(subItem)" ng-class="{active: item.selected(subItem)}">
        <a>{{subItem}}</a>
      </li>
    </ul>

    <div class="method-nav-group method-sub-nav uri-bar" ng-repeat="item in tabset.tabs" ng-if="tabset.active.heading == item.heading && item.uriBar">
      <span role="path" class="path">
        <span class="segment">
          <span ng-repeat='token in item.uriBar.baseUri.tokens track by $index'>
            <span ng-if='item.uriBar.baseUri.parameters[token]'>
              <parameter-field name='token' placeholder='token' model='item.uriBar.pathBuilder.baseUriContext[token]' definition='item.uriBar.baseUri.parameters[token]' invalid-class='error'
              contained-by='[role="documentation"]'></parameter-field>
            </span>
            <span class="segment" ng-if="!item.uriBar.baseUri.parameters[token]">{{token}}</span>
          </span>
          <span role='segment' ng-repeat='segment in item.uriBar.pathSegments' ng-init="$segmentIndex = $index">
            <span ng-repeat='token in segment.tokens track by $index'>
              <span ng-if='segment.parameters[token]'>
                <parameter-field name='token' placeholder='token' model='item.uriBar.pathBuilder.segmentContexts[$segmentIndex][token]' definition='segment.parameters[token]' invalid-class='error' contained-by='[role="documentation"]'></parameter-field>
              </span>
              <span class="segment" ng-if="!segment.parameters[token]">{{token}}</span>
            </span>
          </span>
        </span>
      </span>
    </div>
  </div>

  <div class="method-content-container" ng-transclude>
  </div>
<div>
