<section class="try-it">

  <form>
    <named-parameters heading="Headers" parameters="method.headers" request-data="apiClient.headers"></named-parameters>
    <named-parameters heading="Query Parameters" parameters="method.queryParameters" request-data="apiClient.queryParameters"></named-parameters>

    <fieldset class="media-types" ng-show="apiClient.supportsMediaType">
      <span class="radio-group-label">Content Type</span>
      <label class="radio" ng-repeat="(mediaType, _) in method.body track by mediaType">
        <input type="radio" name="media-type" value="{{mediaType}}" ng-model="apiClient.mediaType">
        {{mediaType}}
      </label>
    </fieldset>
    <div class="request-body" ng-show="method.body">
      <fieldset ng-show="apiClient.showBody()">
        <legend>Body</legend>
        <textarea name="body" ng-model='apiClient.body' ng-model="apiClient.body"></textarea>
      </fieldset>
      <named-parameters heading='Form Parameters' parameters='method.body["application/x-www-form-urlencoded"].formParameters' request-data="apiClient.formParameters" ng-if="apiClient.showUrlencodedForm()"></named-parameters>
      <named-parameters heading='Form Parameters' parameters='method.body["multipart/form-data"].formParameters' request-data="apiClient.formParameters" ng-if="apiClient.showMultipartForm()"></named-parameters>
    </div>

    <div class="form-actions">
      <button role="try-it" class="btn inverted" ng-click="apiClient.execute()">
        Try It
      </button>
    </div>
  </form>

  <div class="response" ng-if="apiClient.response">
    <h3>Response</h3>
    <div class="request-url">
      <h4>Request URL</h4>
      <span class="response-value">{{apiClient.response.requestUrl}}</span>
    </div>

    <div class="status">
      <h4>Status</h4>
      <span class="response-value">{{apiClient.response.status}}</span>
    </div>
    <div class="headers">
      <h4>Headers</h4>
      <ul class="response-value">
        <li ng-repeat="(header, value) in apiClient.response.headers">
          <span class="header-key">{{header}}:</span>
          <span class="header-value">{{value}}</span>
        </li>
      </ul>
    </div>
    <div class="body">
      <h4>Body</h4>
      <div class="response-value">
        <div class="code" mode='{{apiClient.response.contentType}}' code-mirror="apiClient.response.body" visible="apiClient.response.body"></div>
      </div>
    </div>
  </div>
</section>
