<section class="try-it">
  <form>
    <uri-bar base-uri="api.baseUri" path-segments="resource.pathSegments" path-builder="context.pathBuilder"></uri-bar>

    <security-schemes ng-if="apiClient.securitySchemes" schemes="apiClient.securitySchemes" keychain="ramlConsole.keychain" base-key="apiClient.baseKey()"></security-schemes>
    <named-parameters heading="Headers" parameters="context.headers"></named-parameters>
    <named-parameters heading="Query Parameters" parameters="context.queryParameters"></named-parameters>
    <!-- the ng-if below reinstantiates the try it directive which results in the try it
         section getting updated when a method is selected in the resource popover.
    -->
    <body-content ng-if="context.bodyContent" body="context.bodyContent"></body-content>


    <div class="form-actions">
      <i ng-show='apiClient.inProgress()' class="fa fa-spinner fa-spin fa-lg"></i>

      <div role="error" class="error" ng-show="apiClient.missingUriParameters">
        Required URI Parameters must be entered
      </div>
      <div role="warning" class="warning" ng-show="apiClient.disallowedAnonymousRequest">
        Successful responses require authentication
      </div>
      <button role="try-it" ng-class="'btn-' + method.method" ng-click="apiClient.execute()">
        {{method.method}}
      </button>
    </div>
  </form>

  <div class="response" ng-if="apiClient.response">
    <h4>Response</h4>
    <div class="request-url">
      <h5>Request URL</h5>
      <code class="response-value">{{apiClient.response.requestUrl}}</code>
    </div>

    <div class="status">
      <h5>Status</h5>
      <code class="response-value">{{apiClient.response.status}}</code>
    </div>
    <div class="headers">
      <h5>Headers</h5>
      <ul class="response-value">
        <li ng-repeat="(header, value) in apiClient.response.headers track by header">
          <code>
            <span class="header-key">{{header}}:</span>
            <span class="header-value">{{value}}</span>
          </code>
        </li>
      </ul>
    </div>
    <div class="body" ng-if="apiClient.response.body">
      <h5>Body</h5>
      <div class="response-value">
        <div class="code" mode='{{apiClient.response.contentType}}' code-mirror="apiClient.response.body" visible="apiClient.response.body"></div>
      </div>
    </div>
  </div>
</section>
