<section class="try-it">

  <form>
    <path-builder></path-builder>

    <security-schemes ng-if="apiClient.securitySchemes" schemes="apiClient.securitySchemes" keychain="ramlConsole.keychain"></security-schemes>
    <named-parameters heading="Headers" parameters="method.headers" request-data="apiClient.headers"></named-parameters>
    <named-parameters heading="Query Parameters" parameters="method.queryParameters" request-data="apiClient.queryParameters"></named-parameters>

    <fieldset class="labelled-radio-group media-types" ng-show="apiClient.supportsMediaType">
      <label>Content Type</label>
      <div class="radio-group">
        <label class="radio" ng-repeat="(mediaType, _) in method.body track by mediaType">
          <input type="radio" name="media-type" value="{{mediaType}}" ng-model="apiClient.mediaType">
          {{mediaType}}
        </label>
      </div>
    </fieldset>
    <div class="request-body" ng-show="method.body">
      <fieldset ng-show="apiClient.showBody()">
        <legend>Body</legend>
        <textarea name="body" ng-model='apiClient.body' ng-model="apiClient.body"></textarea>
      </fieldset>
      <named-parameters heading='Form Parameters' parameters='method.body["application/x-www-form-urlencoded"].formParameters' request-data="apiClient.formParameters" ng-if="apiClient.showUrlencodedForm()"></named-parameters>
      <named-parameters heading='Form Parameters' parameters='method.body["multipart/form-data"].formParameters' request-data="apiClient.formParameters" ng-if="apiClient.showMultipartForm()"></named-parameters>
    </div>

    <div class="form-actions">
      <i ng-show='apiClient.inProgress()' class="icon-spinner icon-spin icon-large"></i>

      <div role="error" ng-show="apiClient.missingUriParameters">
        Required URI Parameters must be entered
      </div>
      <button role="try-it" class="btn inverted" ng-click="apiClient.execute()">
        Try It
      </button>
    </div>
  </form>

  <div class="response" ng-if="apiClient.response">
    <h4>Response</h4>
    <div class="request-url">
      <h5>Request URL</h5>
      <code class="response-value">{{apiClient.response.requestUrl}}</code>
    </div>

    <div class="status">
      <h5>Status</h5>
      <code class="response-value">{{apiClient.response.status}}</code>
    </div>
    <div class="headers">
      <h5>Headers</h5>
      <ul class="response-value">
        <li ng-repeat="(header, value) in apiClient.response.headers">
          <code>
            <span class="header-key">{{header}}:</span>
            <span class="header-value">{{value}}</span>
          </code>
        </li>
      </ul>
    </div>
    <div class="body">
      <h5>Body</h5>
      <div class="response-value">
        <div class="code" mode='{{apiClient.response.contentType}}' code-mirror="apiClient.response.body" visible="apiClient.response.body"></div>
      </div>
    </div>
  </div>
</section>
