<element name="api-operation-details" attributes="resource">
  <template>
    <style></style>
    <section role="api-operation-details" on-click="preventDefault">
      <header>
          <h1>Summary</h1>
          <p>{{operation.summary}}</p>
      </header>
      <ul role="details-sections">
          <li role="try-it" class="active"><span>Try it</span></li>
          <li role="parameters"><span>Parameters</span></li>
          <li role="requests"><span>Request</span></li>
          <li role="response"><span>Response</span></li>
      </ul>
      <api-operation-details-section-try-it id="tryIt" active="true" resource="{{resource}}"></api-operation-details-section-try-it>
      <api-operation-details-section-parameters resource="{{resource}}"></api-operation-details-section-parameters>
      <api-operation-details-section-request resource="{{resource}}"></api-operation-details-section-request>
      <api-operation-details-section-response resource="{{resource}}"></api-operation-details-section-response>
    </section>
  </template>
  <script></script>
</element>