<element name="api-operation-details">
  <template>
    <style></style>
    <section role="api-operation-details" id="get:/consumers/versions">
      <header>
          <h1>Summary</h1>
          <p>This is the summary</p>
      </header>
      <ul role="details-sections">
          <li role="try-it" class="active"><a href="">Try it</a></li>
          <li role="parameters"><a href="">Parameters</a></li>
          <li role="requests"><a href="">Request</a></li>
          <li role="response"><a href="">Response</a></li>
      </ul>
      <api-operation-details-section-try-it active="true"></api-operation-details-section-try-it>
      <api-operation-details-section-parameters></api-operation-details-section-parameters>
      <api-operation-details-section-request></api-operation-details-section-request>
      <api-operation-details-section-response></api-operation-details-section-response>
    </section>
  </template>
  <script></script>
</element>